In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

import pymongo
import cx_Oracle


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)

In [2]:
# df_sgm = pd.read_csv('df_trans_user_item_date.csv', sep='\t', dtype='object')
# df_item = pd.read_csv('MASTER_ITEM_202012121853.csv', dtype='object')
# df_sgm['TR_DATE'] = df_sgm['TR_DATE'].map(lambda x: eval(x))
# df_sgm['TR_PLU'] = df_sgm['TR_PLU'].apply(lambda x: x[0:-1])

In [3]:
conn_str = u'report/justd0it@10.234.152.61:1521/alfabi'
connection = cx_Oracle.connect(conn_str)

conn_mongo = pymongo.MongoClient\
        ("mongodb://127.0.0.1:27017/seq_trans")
mydb = conn_mongo["seq_trans"]
print(mydb.list_collection_names())

mycol = mydb['member_item_seq']

['member_item_seq']

In [4]:
q_plu = """
SELECT DISTINCT MPA_PLU, MPA_DESC FROM MASTER_PLU_ALFAGIFT mpa
where lower(mpa.MPA_DESC) like 'sgm eksplor%'
"""

df_plu = pd.read_sql_query(q_plu, connection)     
li_plu = df_plu['MPA_PLU']


df_all = []
for plu in li_plu[0:20]:
    df = pd.DataFrame(mycol.find({'TR_PLU_PCS':plu}))
    df_all.append(df)

df_seq_1 = pd.concat(df_all)
df_seq_1.head()

                        _id        TR_MEMBERS  TR_PLU_PCS                                                                                                                                   TR_DATE              updated_at                                                                                                                                  TRX_DATE last_order_date next_order_date
0  5fd90a51b8f8002aaaba12f1  9990013045411848      120768                                                                                                                         {'1607904000': 5} 2020-12-20 20:31:05.342                                                                                                                         {'1607904000': 1}             NaT             NaT
1  5fd90a51b8f8002aaaba36a1  9990010296470971      120768                                                                                                        {'1607904000': 5, '1605571200': 2} 2020-12-21 00:03:15.446                                                                                                        {'1607904000': 1, '1605571200': 1}             NaT             NaT
2  5fd90a52b8f8002aaaba8f23  9990012980982737      120768                                                                                                                         {'1607904000': 5} 2020-12-20 20:32:06.915                                                                                                                         {'1607904000': 1}             NaT             NaT
3  5fd90a53b8f8002aaabab9df  9990012808033100      120768                                                                                                                         {'1607904000': 5} 2020-12-20 20:32:24.500                                                                                                                         {'1607904000': 1}             NaT             NaT
4  5fd90a54b8f8002aaabb0e2a  9990012273495228      120768  {'1607904000': 5, '1607040000': 2, '1606176000': 2, '1605916800': 2, '1605657600': 2, '1605225600': 2, '1602288000': 1, '1608163200': 1} 2020-12-21 06:27:33.763  {'1608163200': 1, '1607904000': 1, '1607040000': 1, '1606176000': 1, '1605916800': 1, '1605657600': 1, '1605225600': 1, '1602288000': 1}      2020-12-17      2020-12-19

In [5]:
q_plu = """
SELECT DISTINCT MPA_PLU, MPA_DESC FROM MASTER_PLU_ALFAGIFT mpa
where lower(mpa.MPA_DESC) like 'anlene%'
or lower(mpa.MPA_DESC) like 'dancow%'
"""

df_plu = pd.read_sql_query(q_plu, connection)     
li_plu = df_plu['MPA_PLU']


df_all = []
for plu in li_plu[0:20]:
    df = pd.DataFrame(mycol.find({'TR_PLU_PCS':plu}))
    df_all.append(df)

df_seq_2 = pd.concat(df_all)
df_seq_2.head()

                        _id        TR_MEMBERS  TR_PLU_PCS                                                                                                 TR_DATE              updated_at                                                                                                TRX_DATE last_order_date next_order_date
0  5fd90a51b8f8002aaaba54f7  9990013141622051      109441                                                                                       {'1607904000': 5} 2020-12-20 20:32:24.004                                                                                       {'1607904000': 1}             NaT             NaT
1  5fd90a52b8f8002aaaba5c55  9990011350493483      109441                                                                      {'1607904000': 5, '1606003200': 2} 2020-12-22 03:19:08.285                                                     {'1607904000': 1, '1606003200': 1, '1592352000': 1}             NaT             NaT
2  5fd90a54b8f8002aaabb1f8c  9990012338113879      109441  {'1607904000': 5, '1606608000': 2, '1604188800': 2, '1601942400': 1, '1600905600': 1, '1599436800': 1} 2020-12-21 14:24:59.885  {'1607904000': 1, '1606608000': 1, '1604188800': 1, '1601942400': 1, '1600905600': 1, '1599436800': 1}      2020-12-14      2020-12-27
3  5fd90a54b8f8002aaabb2ab5  9990011323064647      109441                                                                      {'1607904000': 5, '1608336000': 1} 2020-12-20 20:30:59.191                                                                      {'1608336000': 1, '1607904000': 1}             NaT             NaT
4  5fd90a56b8f8002aaabbaa7d  9990011704345693      109441                                                                                       {'1607904000': 5} 2020-12-20 20:31:30.446                                                                                       {'1607904000': 1}             NaT             NaT

In [6]:
df_seq = pd.concat([df_seq_1, df_seq_2]).reset_index(drop=True)

In [7]:
q_nas = """
SELECT ITEM_N, DESCP, UKURAN, PANJANG, LEBAR, TINGGI, UOM FROM MASTER_NAS_M mnm 
"""

df_nas = pd.read_sql_query(q_nas, connection)
df_nas.head()

   ITEM_N                          DESCP  UKURAN  PANJANG  LEBAR  TINGGI   UOM
0  833468               TAUGE PENDEK WHL     NaN      1.0    1.0     1.0  None
1  833469                     TEMU KUNCI     NaN      1.0    1.0     1.0  None
2  833470  TERONG LALAP HIJAU PCK 250 GR     NaN      1.0    1.0     1.0  None
3  833472         TERONG MEDAN PCK 200GR     NaN      1.0    1.0     1.0  None
4  833475        TERONG UNGU PANJANG WHL     NaN      1.0    1.0     1.0  None

In [8]:
df = pd.merge(df_seq, df_nas, left_on='TR_PLU_PCS', right_on='ITEM_N')[list(df_seq) + ['DESCP','UKURAN']]
df = df[df['TRX_DATE'].notnull()]
df_hist = df[df['TRX_DATE'].apply(lambda x: len(x)) >= 6]

In [9]:
df_hist.head()

,_id,TR_MEMBERS,TR_PLU_PCS,TR_DATE,updated_at,TRX_DATE,last_order_date,next_order_date,DESCP,UKURAN
4,5fd90a54b8f8002aaabb0e2a,9990012273495228,120768,"{'1607904000': 5, '1607040000': 2, '1606176000': 2, '1605916800': 2, '1605657600': 2, '1605225600': 2, '1602288000': 1, '1608163200': 1}",2020-12-21 06:27:33.763,"{'1608163200': 1, '1607904000': 1, '1607040000': 1, '1606176000': 1, '1605916800': 1, '1605657600': 1, '1605225600': 1, '1602288000': 1}",2020-12-17,2020-12-19,SGM EKSPLOR 3+ VANILA BOX 400G,400.0
7,5fd90a56b8f8002aaabba8c7,9990010008763726,120768,"{'1607904000': 5, '1607385600': 2, '1599696000': 1, '1594080000': 3}",2020-12-22 08:13:21.012,"{'1607904000': 1, '1607385600': 1, '1599696000': 1, '1594080000': 3, '1591920000': 1, '1590019200': 1, '1589846400': 1}",NaT,NaT,SGM EKSPLOR 3+ VANILA BOX 400G,400.0
10,5fd90a60b8f8002aaabc3130,9990017105908768,120768,"{'1607904000': 5, '1606003200': 2, '1600646400': 1, '1599004800': 1, '1598745600': 1}",2020-12-22 15:58:23.117,"{'1607904000': 1, '1606003200': 1, '1600646400': 1, '1599004800': 1, '1598745600': 1, '1591056000': 1, '1588809600': 1, '1585353600': 1}",NaT,NaT,SGM EKSPLOR 3+ VANILA BOX 400G,400.0
11,5fd90a61b8f8002aaabc6639,9990012742415819,120768,"{'1607904000': 5, '1607299200': 2, '1599696000': 1, '1597449600': 1, '1596412800': 1, '1593734400': 1}",2020-12-21 22:22:02.297,"{'1607904000': 1, '1607299200': 1, '1599696000': 1, '1597449600': 1, '1596412800': 1, '1593734400': 1}",2020-12-14,2020-12-21,SGM EKSPLOR 3+ VANILA BOX 400G,400.0
13,5fd90a61b8f8002aaabc9367,9990011843001580,120768,"{'1607904000': 5, '1607644800': 2, '1607472000': 2, '1607299200': 2, '1607040000': 2, '1606867200': 2, '1606521600': 2, '1605744000': 2, '1605484800': 2, '1604966400': 2, '1604793600': 2, '1604534400': 2, '1604275200': 2, '1603843200': 2, '1602720000': 1, '1602460800': 1, '1602115200': 1, '1601942400': 1, '1601164800': 1, '1600905600': 1, '1600300800': 1, '1600128000': 1, '1599868800': 1, '1599696000': 1, '1599436800': 1, '1599264000': 1, '1599091200': 1, '1598918400': 1, '1597622400': 1, '1596758400': 1, '1595376000': 1, '1594857600': 1, '1594425600': 1, '1593388800': 1, '1593216000': 1, '1592956800': 1, '1592784000': 1, '1608076800': 3, '1608336000': 1}",2020-12-27 22:14:47.270,"{'1608336000': 1, '1608076800': 1, '1607904000': 1, '1607644800': 1, '1607472000': 1, '1607299200': 1, '1607040000': 1, '1606867200': 1, '1606521600': 1, '1605744000': 1, '1605484800': 1, '1604966400': 1, '1604793600': 1, '1604534400': 1, '1604275200': 1, '1603843200': 1, '1602720000': 1, '1602460800': 1, '1602115200': 1, '1601942400': 1, '1601164800': 1, '1600905600': 1, '1600300800': 1, '1600128000': 1, '1599868800': 1, '1599696000': 1, '1599436800': 1, '1599264000': 1, '1599091200': 1, '1598918400': 1, '1597622400': 1, '1596758400': 1, '1595376000': 1, '1594857600': 1, '1594425600': 1, '1593388800': 1, '1593216000': 1, '1592956800': 1, '1592784000': 1, '1592352000': 1, '1591488000': 1, '1591401600': 1, '1591228800': 1, '1591142400': 1, '1589932800': 1, '1608595200': 1, '1608768000': 1, '1609027200': 1}",2020-12-27,2020-12-30,SGM EKSPLOR 3+ VANILA BOX 400G,400.0

In [10]:
set_time = {'1608163200': 1, '1607904000': 1, '1607040000': 1, '1606176000': 1, '1605916800': 1, '1605657600': 1, '1605225600': 1, '1602288000': 1}
set_time = sorted(set_time.items())


print(set_time)

[('1602288000', 1), ('1605225600', 1), ('1605657600', 1), ('1605916800', 1), ('1606176000', 1), ('1607040000', 1), ('1607904000', 1), ('1608163200', 1)]

In [11]:
def cal_feature(set_timestamp):

    set_timestamp = sorted(set_timestamp.items())
    last_order = int(set_timestamp[-1][0])
    
    li_seq = []
    qty_seq = []
    for idx in range(0, len(set_timestamp)-1, 1):

        diff = int(set_timestamp[idx+1][0]) - int(set_timestamp[idx][0])
        diff_day = int((diff / 3600) / 24)
        li_seq.append(diff_day)
        
    qty_seq = [i[1] for i in set_timestamp][-6:-1]

    li_seq = li_seq[-5:]
    # max diff day
    seq_max = np.max(li_seq)
    # min diff day
    seq_min = np.min(li_seq)
    # day since
    seq_since = li_seq[-2]
    # mean
    seq_mean = round(np.mean(li_seq),2)
    # mean_qty
    seq_mean_qty = round(np.mean([li_seq[i]/qty_seq[i] for i in range(len(li_seq))]),2)
    # variance
    seq_var = round(np.var(li_seq),2)

    ## appending
    li_seq.append(seq_max)
    li_seq.append(seq_min)
    li_seq.append(seq_since)
    li_seq.append(seq_mean)
    li_seq.append(seq_var)
    
    li_seq.extend(qty_seq)
    li_seq.append(seq_mean_qty)


    return li_seq, last_order

In [12]:
df_hist['tr_date_seq'], df_hist['last_ord1er'] = zip(*df_hist['TRX_DATE'].apply(cal_feature))

<ipython-input-12-2b0228c4dfee>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist['tr_date_seq'], df_hist['last_ord1er'] = zip(*df_hist['TRX_DATE'].apply(cal_feature))

In [14]:
col_feature = ['t_5', 't_4', 't_3', 't_2', 't_1', 'max', 'min', 'since', 'mean', 'variance', 'q_5', 'q_4', 'q_3', 'q_2', 'q_1', 'mean_qty']
train = pd.DataFrame(df_hist.tr_date_seq.tolist(), index=df_hist.index, columns=col_feature)

# X = train.drop('t_0', 1)
# Y = train['t_0']

# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)

In [15]:
train.head()

    t_5  t_4  t_3  t_2  t_1  max  min  since  mean  variance  q_5  q_4  q_3  q_2  q_1  mean_qty
4     3    3   10   10    3   10    3     10   5.8     11.76    1    1    1    1    1      5.80
7    22   25   65   89    6   89    6     89  41.4    944.24    1    1    3    1    1     32.73
10   89    3   19   62   22   89    3     62  39.0   1002.80    1    1    1    1    1     39.00
11   31   12   26   88    7   88    7     88  32.8    838.96    1    1    1    1    1     32.80
13    2    3    3    2    3    3    2      2   2.6      0.24    1    1    1    1    1      2.60

### Compare time consuming in different netto
> 
* first we user with less variance, we assume user buy based on their consumption and less affected by promotion or random purchase date
* age might be affect consumption, cause more mature, amount of consumption should be decreased by parent

In [ ]:
# with open('watchlist_item.txt') as f:
#     watchlist = f.read().splitlines()
#     df_watchlist = pd.DataFrame({'DESCP':watchlist})

In [16]:
train_descp = pd.concat([train,df_hist], 1)[col_feature + ['TR_MEMBERS', 'DESCP', 'TRX_DATE', 'UKURAN']]
# train_descp = pd.merge(df_watchlist, train_descp, left_on='DESCP', right_on='DESCP', how='left')
train_descp = train_descp[train_descp['UKURAN'].notnull()]
train_descp['UKURAN'] = train_descp['UKURAN'].astype(int)

In [ ]:
# train_descp['DESCP_NET'] = train_descp['DESCP'].str.split(' ').str[-1]

In [18]:
train_descp.groupby('UKURAN').agg({'mean_qty':'mean'})

         mean_qty
UKURAN
110     21.610180
150     20.134627
175      6.097222
200     18.912086
250     31.579740
400     21.455269
600     23.014866
650     34.806663
800     23.711412
900     23.219503

In [19]:
train_descp_cond = train_descp[train_descp['variance'] < 100]
# display(train_descp_cond.head(3))
train_descp_cond.groupby('UKURAN').agg({'mean_qty':'mean'})

         mean_qty
UKURAN
110      8.709515
150      9.323963
175      5.335385
200      9.751961
250     20.562156
400     11.212549
600     11.354944
650     25.049585
800     14.606552
900     13.281823

In [20]:
train_descp['DESCP_TYPE'] = train_descp['DESCP'].str.split(' ').str[0:3].str.join(' ')

In [21]:
train_descp.groupby(['DESCP_TYPE','UKURAN']).agg({'mean_qty':'mean'})

                               mean_qty
DESCP_TYPE            UKURAN
ANLENE ACTIFIT VANILA 250      2.300000
ANLENE GOLD COKELAT   250     31.750545
ANLENE GOLD ORI       650     34.750530
ANLENE GOLD+ VANILA   250     31.526647
                      650     34.843249
ANLENE UHT COKELAT    175      6.097222
DANCOW 1+ MADU        400     19.775624
DANCOW 1+ VANILA      400     18.475152
                      800     20.898203
DANCOW 3+ MADU        200     18.912086
                      400     21.201079
                      800     23.314126
DANCOW 3+ VANILA      800     23.615382
DANCOW 5+ MADU        400     22.036871
DANCOW FG COKELAT     400     24.389990
                      800     24.749143
DANCOW FG F.CREAM     800     27.235375
DANCOW UHT FG         110     21.610180
SGM EKSPLOR 1+        150     20.283524
                      400     21.607249
                      600     22.751377
                      900     22.881888
SGM EKSPLOR 3+        150     19.634141
                      400     21.711921
                      600     23.799703
                      900     23.836446
SGM EKSPLOR 5+        400     20.793545
                      900     23.581631

In [22]:
train_descp_cond = train_descp[train_descp['variance'] < 80]
# display(train_descp_cond.head(3))
train_descp_cond.groupby(['DESCP_TYPE','UKURAN']).agg({'mean_qty':'mean'})

                               mean_qty
DESCP_TYPE            UKURAN
ANLENE ACTIFIT VANILA 250      2.300000
ANLENE GOLD COKELAT   250     20.178947
ANLENE GOLD ORI       650     25.055396
ANLENE GOLD+ VANILA   250     19.803137
                      650     24.281043
ANLENE UHT COKELAT    175      5.335385
DANCOW 1+ MADU        400      9.894780
DANCOW 1+ VANILA      400      9.600492
                      800     12.649784
DANCOW 3+ MADU        200      9.230040
                      400     10.863509
                      800     14.009676
DANCOW 3+ VANILA      800     14.237352
DANCOW 5+ MADU        400     12.335605
DANCOW FG COKELAT     400     13.122401
                      800     14.788357
DANCOW FG F.CREAM     800     15.011585
DANCOW UHT FG         110      8.064829
SGM EKSPLOR 1+        150      8.784238
                      400      9.776374
                      600     10.574297
                      900     12.027163
SGM EKSPLOR 3+        150      8.605805
                      400     10.889027
                      600     11.366749
                      900     13.563176
SGM EKSPLOR 5+        400     11.155188
                      900     14.416002