In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

import pymongo
import cx_Oracle


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)

In [2]:
conn_str = u'report/justd0it@10.234.152.61:1521/alfabi'
connection = cx_Oracle.connect(conn_str)

conn_mongo = pymongo.MongoClient\
        ("mongodb://127.0.0.1:27017/seq_trans")
mydb = conn_mongo["seq_trans"]
print(mydb.list_collection_names())

mycol = mydb['member_item_seq']

['member_item_seq']

In [3]:
# df_sgm = pd.read_csv('df_trans_user_item_date.csv', sep='\t', dtype='object')
# df_item = pd.read_csv('MASTER_ITEM_202012121853.csv', dtype='object')
# df_sgm['TR_DATE'] = df_sgm['TR_DATE'].map(lambda x: eval(x))
# df_sgm['TR_PLU'] = df_sgm['TR_PLU'].apply(lambda x: x[0:-1])

In [4]:
q_test = """
SELECT * FROM report.RPT_TRANS rt 
WHERE rt.TR_MEMBERS = '9990011847758192'
AND rt.TR_PLU_PCS = '120763'
AND TR_DATE BETWEEN '11nov20' AND '11nov20'

"""

df_test = pd.read_sql_query(q_test, connection)   

# df_test.groupby(['TR_MEMBERS','TR_PLU_PCS','TR_DATE']).agg({'TR_QTY':'sum'})
df_test[['TR_MEMBERS','TR_PLU_PCS','TR_DATE','TR_QTY']]

         TR_MEMBERS  TR_PLU_PCS    TR_DATE  TR_QTY
0  9990011847758192      120763 2020-11-11     2.0
1  9990011847758192      120763 2020-11-11     1.0
2  9990011847758192      120763 2020-11-11     1.0
3  9990011847758192      120763 2020-11-11     4.0

In [5]:
mycol.find_one({'TR_MEMBERS':'9990011847758192', 'TR_PLU_PCS':120763})

{'_id': ObjectId('5fd90c05b8f8002aaad754f7'),
 'TR_MEMBERS': '9990011847758192',
 'TR_PLU_PCS': 120763,
 'updated_at': datetime.datetime(2021, 1, 13, 2, 13, 37, 643000),
 'TRX_DATE': {'1607904000': [3, '- -'],
  '1605830400': [2, '-'],
  '1605398400': [1, '-'],
  '1605139200': [3, '- -'],
  '1605052800': [8, '- - - -'],
  '1609545600': [3, '-']},
 'TRF_DATE': {'1609545600': 3,
  '1607904000': 3,
  '1605830400': 2,
  '1605398400': 1,
  '1605139200': 3,
  '1605052800': 8}}

In [6]:
# q_plu = """
# SELECT DISTINCT MPA_PLU, MPA_DESC, MPA_DESC_SUBCAT FROM MASTER_PLU_ALFAGIFT mpa
# where lower(mpa.MPA_DESC) like 'sgm eksplor%'
# """

# df_plu = pd.read_sql_query(q_plu, connection)     
# li_plu = df_plu['MPA_PLU']


# df_all = []
# for plu in li_plu[0:20]:
#     df = pd.DataFrame(mycol.find({'TR_PLU_PCS':plu}))
#     df_all.append(df)

# df_seq_1 = pd.concat(df_all)
# df_seq_1.head()
df_seq_1 = pd.DataFrame()

In [7]:
q_plu = """
SELECT DISTINCT MPA_PLU, MPA_DESC, MPA_DESC_SUBCAT FROM MASTER_PLU_ALFAGIFT mpa
where lower(mpa.MPA_DESC) like 'sgm eksplor%'
or lower(mpa.MPA_DESC) like 'anlene%'
or lower(mpa.MPA_DESC) like 'dancow%'
or lower(mpa.MPA_DESC) like 'bebelac%'
or lower(mpa.MPA_DESC) like 'lactogrow%'
or lower(mpa.MPA_DESC) like 'ff baby%'
or lower(mpa.MPA_DESC) like 'pepsodent pg economy%'
"""

df_plu = pd.read_sql_query(q_plu, connection)     
li_plu = df_plu['MPA_PLU']


df_all = []
for plu in li_plu:
    df = pd.DataFrame(mycol.find({'TR_PLU_PCS':plu}))
    df_all.append(df)

df_seq_2 = pd.concat(df_all)
df_seq_2.head()

                        _id        TR_MEMBERS  TR_PLU_PCS              updated_at                                                                                                                                                                                                                           TRX_DATE                                                              TRF_DATE last_order_date next_order_date
0  5fd90a51b8f8002aaaba19da  9990013140543181      120763 2021-01-13 04:59:02.060                                                                                                                                   {'1607904000': [1, '-'], '1607558400': [1, '-'], '1603929600': [1, '-'], '1609804800': [1, '-']}  {'1607904000': 1, '1607558400': 1, '1603929600': 1, '1609804800': 1}             NaT             NaT
1  5fd90a51b8f8002aaaba19e7  9990011494110271      120763 2021-01-12 13:19:07.981                                                                                                                                                                                          {'1607904000': [1, '-'], '1597276800': 1}                                    {'1607904000': 1, '1597276800': 1}             NaT             NaT
2  5fd90a51b8f8002aaaba2495  9990021000743963      120763 2021-01-12 13:20:05.987                                                                                                                                                                                                           {'1607904000': [1, '-']}                                                     {'1607904000': 1}             NaT             NaT
3  5fd90a51b8f8002aaaba3bb2  9990011419048278      120763 2021-01-12 17:55:48.841                                                                                                                                          {'1607990400': [1, '-'], '1607904000': [1, '-'], '1605398400': [1, '-'], '1602201600': 1}  {'1607990400': 1, '1607904000': 1, '1605398400': 1, '1602201600': 1}             NaT             NaT
4  5fd90a52b8f8002aaaba5d59  9990012150859676      120763 2021-01-13 04:59:08.586  {'1607904000': [1, '-'], '1603929600': [1, '-'], '1594684800': 1, '1591142400': 1, '1588896000': 1, '1588550400': 1, '1588204800': 1, '1588032000': 1, '1587859200': 1, '1587427200': 1, '1586908800': 1, '1609286400': [1, '-']}  {'1609286400': 1, '1607904000': 1, '1603929600': 1, '1594684800': 1}             NaT             NaT

In [8]:
df_seq = pd.concat([df_seq_1, df_seq_2]).reset_index(drop=True)

In [9]:
q_nas = """
SELECT ITEM_N, DESCP, UKURAN, PANJANG, LEBAR, TINGGI, UOM FROM MASTER_NAS_M mnm 
"""

df_nas = pd.read_sql_query(q_nas, connection)
display(df_nas.head())

def norm_uom(uom):
    li_uom_norm = []
    li_weight = []
    
    if uom == np.nan:
        li_weight.append(np.nan)
        li_uom_norm.append(np.nan)
    elif uom == 'KG':
        li_weight.append(1000)
        li_uom_norm.append('G')
    elif uom == 'L':
        li_weight.append(1000)
        li_uom_norm.append('ML')
    else:
        li_weight.append(1)
        li_uom_norm.append(uom)

    return li_uom_norm[0], li_weight[0]
            
        
df_nas['UOM_NORM'], df_nas['weight'] = zip(*df_nas['UOM'].apply(norm_uom))
df_nas['UKURAN_NORM'] = df_nas['UKURAN'] * df_nas['weight']


df_nas['UOM'] = df_nas['UOM_NORM']
df_nas['UKURAN']= df_nas['UKURAN_NORM']

   ITEM_N                            DESCP  UKURAN  PANJANG  LEBAR  TINGGI   UOM
0  851706          SAUCEPAN 16CM (SN-0211)     NaN      1.0    1.0     1.0  None
1  851707  CYPRUZ AIR FRYER 4.5L (DF-0155)     NaN      1.0    1.0     1.0  None
2  851708  CYPRUZ GRIL & STEAMBOT(TG-0295)     NaN      1.0    1.0     1.0  None
3  851709  CYPRUZ COOKWARE SET 4 (PI-0900)     NaN      1.0    1.0     1.0  None
4  851710  CYPRUZ COOKWARE SET 5 (PI-0901)     NaN      1.0    1.0     1.0  None

In [10]:
df = pd.merge(df_seq, df_nas, left_on='TR_PLU_PCS', right_on='ITEM_N')[list(df_seq) + ['DESCP','UKURAN','UOM']]
df = df[df['TRF_DATE'].notnull()]

min_freq = 4
df_hist = df[df['TRF_DATE'].apply(lambda x: len(x)) >= min_freq]

In [11]:
df_hist.head()

                         _id        TR_MEMBERS  TR_PLU_PCS              updated_at                                                                                                                                                                                                                           TRX_DATE                                                                                                                 TRF_DATE last_order_date next_order_date                           DESCP  UKURAN UOM
0   5fd90a51b8f8002aaaba19da  9990013140543181      120763 2021-01-13 04:59:02.060                                                                                                                                   {'1607904000': [1, '-'], '1607558400': [1, '-'], '1603929600': [1, '-'], '1609804800': [1, '-']}                                                     {'1607904000': 1, '1607558400': 1, '1603929600': 1, '1609804800': 1}             NaT             NaT  SGM EKSPLOR 1+ VANILA BOX 150G   150.0  GR
3   5fd90a51b8f8002aaaba3bb2  9990011419048278      120763 2021-01-12 17:55:48.841                                                                                                                                          {'1607990400': [1, '-'], '1607904000': [1, '-'], '1605398400': [1, '-'], '1602201600': 1}                                                     {'1607990400': 1, '1607904000': 1, '1605398400': 1, '1602201600': 1}             NaT             NaT  SGM EKSPLOR 1+ VANILA BOX 150G   150.0  GR
4   5fd90a52b8f8002aaaba5d59  9990012150859676      120763 2021-01-13 04:59:08.586  {'1607904000': [1, '-'], '1603929600': [1, '-'], '1594684800': 1, '1591142400': 1, '1588896000': 1, '1588550400': 1, '1588204800': 1, '1588032000': 1, '1587859200': 1, '1587427200': 1, '1586908800': 1, '1609286400': [1, '-']}                                                     {'1609286400': 1, '1607904000': 1, '1603929600': 1, '1594684800': 1}             NaT             NaT  SGM EKSPLOR 1+ VANILA BOX 150G   150.0  GR
5   5fd90a52b8f8002aaaba5e94  9990011323821648      120763 2021-01-12 14:21:54.623                                                                                   {'1607904000': [1, '-'], '1607472000': [1, '-'], '1607299200': [1, '-'], '1609027200': [1, '-'], '1610323200': [1, '-'], '1609113600': [1, '-']}                                    {'1609113600': 1, '1609027200': 1, '1607904000': 1, '1607472000': 1, '1607299200': 1}             NaT             NaT  SGM EKSPLOR 1+ VANILA BOX 150G   150.0  GR
11  5fd90a53b8f8002aaabace0b  9990013066618077      120763 2021-01-12 14:51:36.553                                                           {'1608336000': [1, '-'], '1608076800': [1, '-'], '1607904000': [1, '-'], '1607817600': [1, '-'], '1607731200': [1, '-'], '1607126400': [1, '-'], '1607040000': [1, '-']}  {'1608336000': 1, '1608076800': 1, '1607904000': 1, '1607817600': 1, '1607731200': 1, '1607126400': 1, '1607040000': 1}      2020-12-19      2020-12-22  SGM EKSPLOR 1+ VANILA BOX 150G   150.0  GR

In [12]:
# set_time = {'1608163200': 1, '1607904000': 1, '1607040000': 1, '1606176000': 1, '1605916800': 1, '1605657600': 1, '1605225600': 1, '1602288000': 1}
# set_time = sorted(set_time.items())


# print(set_time)

In [13]:
def cal_feature(set_timestamp_old):

    set_timestamp_old = sorted(set_timestamp_old.items())
    last_order = int(set_timestamp_old[-1][0])
        
    read_seq = []
    qty_seq = []
    li_seq = []
    set_timestamp = []
    for set_t in (set_timestamp_old):
        if isinstance((set_t[1]), int):

            continue
        set_timestamp.append(set_t)
    print(set_timestamp)
    
    if len(set_timestamp) < min_freq:
        print('not enough')
        return 0, 0, 0
    
    for idx in range(0,len(set_timestamp),1):

        if str(set_timestamp[idx][1][-1]).startswith('-'):
            print('masuk')
            # convert to readable timestamp and append quantity
            read_seq.append(datetime.fromtimestamp(int(set_timestamp[idx][0])).strftime('%d%b%y'))
            qty_seq.append(set_timestamp[idx][1][0])

            # find different day between order 
            # if (idx+1) < len(set_timestamp):
            diff = int(set_timestamp[idx][0]) - int(set_timestamp[idx-1][0])
            diff_day = int((diff / 3600) / 24)
            li_seq.append(diff_day)
        

    print(li_seq)
    if len(li_seq) < min_freq-1:
        print('not enough')
        return 0, 0, 0
    qty_seq = qty_seq[-1*(min_freq):-1]
    
    # get onyly until needed sequence order
    li_seq = li_seq[-1*(min_freq-1):]
    # max diff day
    seq_max = np.max(li_seq)
    # min diff day
    seq_min = np.min(li_seq)
    # day since
    seq_since = li_seq[-2]
    # mean
    seq_mean = round(np.mean(li_seq),2)
    # mean_qty
    seq_mean_qty = round(np.mean([li_seq[i]/qty_seq[i] for i in range(len(li_seq))]),2)
    # variance
    seq_var = round(np.var(li_seq),2)

    ## appending
    li_seq.append(seq_max)
    li_seq.append(seq_min)
    li_seq.append(seq_since)
    li_seq.append(seq_mean)
    li_seq.append(seq_var)
    
    li_seq.extend(qty_seq)
    li_seq.append(seq_mean_qty)


    return li_seq, last_order, read_seq

In [14]:
def cal_feature_old(set_timestamp):

    set_timestamp = sorted(set_timestamp.items())
    last_order = int(set_timestamp[-1][0])
        
    read_seq = []
    qty_seq = []
    li_seq = []

    for idx in range(0,len(set_timestamp),1):

            # convert to readable timestamp and append quantity
            read_seq.append(datetime.fromtimestamp(int(set_timestamp[idx][0])).strftime('%d%b%y'))
            qty_seq.append(set_timestamp[idx][1])

            # find different day between order 
            # if (idx+1) < len(set_timestamp):
            diff = int(set_timestamp[idx][0]) - int(set_timestamp[idx-1][0])
            diff_day = int((diff / 3600) / 24)
            li_seq.append(diff_day)
        
    
    qty_seq = qty_seq[-1*(min_freq):-1]
    
    # get onyly until needed sequence order
    li_seq = li_seq[-1*(min_freq-1):]
    # max diff day
    seq_max = np.max(li_seq)
    # min diff day
    seq_min = np.min(li_seq)
    # day since
    seq_since = li_seq[-2]
    # mean
    seq_mean = round(np.mean(li_seq),2)
    # mean_qty
    seq_mean_qty = round(np.mean([li_seq[i]/qty_seq[i] for i in range(len(li_seq))]),2)
    # variance
    seq_var = round(np.var(li_seq),2)

    ## appending
    li_seq.append(seq_max)
    li_seq.append(seq_min)
    li_seq.append(seq_since)
    li_seq.append(seq_mean)
    li_seq.append(seq_var)
    
    li_seq.extend(qty_seq)
    li_seq.append(seq_mean_qty)


    return li_seq, last_order, read_seq

In [15]:
# df_hist['tr_date_seq'], df_hist['last_order'], df_hist['read_seq'] = zip(*df_hist['TRX_DATE'].apply(cal_feature))

In [ ]:
df_hist['tr_date_seq'], df_hist['last_order'], df_hist['read_seq'] = zip(*df_hist['TRF_DATE'].apply(cal_feature_old))

In [ ]:
df_hist.head()

In [ ]:
#col_feature = ['t_5', 't_4', 't_3', 't_2', 't_1', 'max', 'min', 'since', 'mean', 'variance', 'q_5', 'q_4', 'q_3', 'q_2', 'q_1', 'mean_qty']
col_feature = ['t_'+ str(i) for i in range((min_freq-1),0,-1)] + \
                ['max', 'min', 'since', 'mean', 'variance'] + \
                ['q_'+ str(i) for i in range((min_freq-1),0,-1)] + ['mean_qty']
train = pd.DataFrame(df_hist.tr_date_seq.tolist(), index=df_hist.index, columns=col_feature)

In [ ]:
df_hist.head()

In [ ]:
df_hist_cond = df_hist.loc[list(train[(train['mean_qty'] > 7) & (train['variance'] < 80)].index)]
df_hist_cond[df_hist_cond['TR_PLU_PCS'] == 120771]

In [ ]:
train[(train['mean_qty'] < 7) & (train['variance'] < 70)]

In [ ]:
# X = train_descp[list(train) + ['UKURAN']].drop(['t_1','q_1'], 1)
# Y = train_descp['t_1']

# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)

# from sklearn.linear_model import LinearRegression
# clf = LinearRegression()
# clf.fit(X_train, y_train)

# train_predictions = clf.predict(X_test)
# from sklearn import metrics
# rmse = np.sqrt( metrics.mean_squared_error( y_test, train_predictions ) )
# print("RMSE: {}".format(rmse))


# test = train_descp[list(train) + ['UKURAN']].drop(['t_5','q_5'], 1)
# test_predictions = clf.predict(test)

# test['next_order'] = list(test_predictions)
# test['next_order'] = test['next_order'].astype(int).abs()

In [ ]:
df_plu[df_plu['MPA_DESC'].str.contains('sgm',case=False)]

### Clustering to remove outlier
> 
* we need to get dominant cluster which represent real user
* real users do not have to be more than the other clusters

In [ ]:
train_cluster = pd.concat([train, df_hist['TR_PLU_PCS']], 1)
train_cluster = train_cluster[train_cluster['TR_PLU_PCS'] == 120763].drop(['TR_PLU_PCS','max','min','since','mean'], 1)

from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=2, random_state=123)
label_p = kmeans.fit_predict(train_cluster)

res_cluster = train_cluster.copy().reset_index(drop=True)
res_cluster['label'] = pd.Series(list(label_p))
dominant = res_cluster['label'].value_counts()[0:1].index[0]

# res_cluster[(res_cluster['label'] == dominant) &\
#             (res_cluster['t_3'] >= 5) & (res_cluster['t_2'] >= 5) & (res_cluster['t_1'] >= 5) &
#             (res_cluster['t_3'] <= 35) & (res_cluster['t_2'] <= 35) & (res_cluster['t_1'] <= 35)].describe()

res_cluster[(res_cluster['label'] == dominant)]

In [ ]:
# train_cluster = pd.concat([train, df_hist['TR_PLU_PCS']], 1)
# train_cluster = train_cluster[train_cluster['TR_PLU_PCS'] == 120762].drop(['TR_PLU_PCS','max','min','since','mean'], 1)

# train_cluster[(train_cluster['t_3'] >= 5) & (train_cluster['t_2'] >= 5) & (train_cluster['t_1'] >= 5) &
#     (train_cluster['t_3'] <= 60) & (train_cluster['t_2'] <= 60) & (train_cluster['t_1'] <= 60)].describe()

In [ ]:
# res_cluster[(res_cluster['label'] == 0) & (res_cluster['mean_qty'] >= 7) & (res_cluster['variance'] < 10)]

### Compare time consuming in different netto
> 
* first we user with less variance, we assume user buy based on their consumption and less affected by promotion or random purchase date.
* age might be affect consumption, cause more mature, amount of consumption should be decreased by parent.

In [ ]:
# with open('watchlist_item.txt') as f:
#     watchlist = f.read().splitlines()
#     df_watchlist = pd.DataFrame({'DESCP':watchlist})

In [ ]:
train_descp = pd.concat([train,df_hist], 1)[col_feature + ['TR_MEMBERS', 'TR_PLU_PCS', 'DESCP', 'TRF_DATE', 'read_seq', 'UKURAN', 'UOM']]
train_descp = pd.merge(train_descp, df_plu[['MPA_PLU', 'MPA_DESC_SUBCAT']], left_on='TR_PLU_PCS', right_on='MPA_PLU', how='left')
train_descp = train_descp[train_descp['UKURAN'].notnull()]
train_descp['UKURAN'] = train_descp['UKURAN'].astype(int)

In [ ]:
train_descp['DESCP_TYPE'] = train_descp['DESCP'].str.split(' ').str[0:-1].str.join(' ')

In [ ]:
train_descp.groupby(['MPA_DESC_SUBCAT','DESCP_TYPE','UKURAN','UOM']).agg({'mean_qty':'median'})

In [ ]:
train_descp_cond = train_descp[(train_descp['variance'] < 400) & (train_descp['mean_qty'] >= 5) & (train_descp['mean_qty'] <= 50)]
train_descp_cond.groupby(['MPA_DESC_SUBCAT','DESCP_TYPE','UKURAN','UOM']).agg({'mean_qty':'median'})

In [ ]:
from ipywidgets import interact, interact_manual
@interact_manual
def show_articles_more_than(nama = sorted(list(train_descp['DESCP_TYPE'].unique())), 
                            ukuran = sorted(list(train_descp['UKURAN'].unique())),
                            lower=(2, 60, 2),
                            upper=(2, 60, 2)):
    show_data = train_descp.loc[(train_descp['DESCP_TYPE'] == nama) & (train_descp['UKURAN'] == ukuran)\
                                & (train_descp['mean_qty'] >= lower) & (train_descp['mean_qty'] <= upper)]\
                .drop(['since','mean','TRF_DATE','MPA_PLU','MPA_DESC_SUBCAT','DESCP_TYPE'],1)
    print(show_data.shape)
    sample_n = 10
    if show_data.shape[0] < sample_n:
        sample_n = show_data.shape[0]
    return show_data.sample(sample_n)

In [ ]:
bins = [0, 7, 14, 21, 28, 35, 42]
labels = ['0-7','7-14','14-21','21-28','28-35','35-42']
train_descp['mean_qty_binned'] = pd.cut(train_descp['mean_qty'], bins=bins, labels=labels, include_lowest=True)

In [ ]:
train_descp_select1 = train_descp[train_descp['DESCP'].str.startswith('SGM EKSPLOR 1+ VANILA')]
train_descp_select1.groupby(['MPA_DESC_SUBCAT','DESCP_TYPE','UKURAN','UOM','mean_qty_binned']).agg({'mean_qty_binned':'size'})

In [ ]:
train_descp_select1 = train_descp[train_descp['DESCP'].str.startswith('SGM EKSPLOR 1+ MADU')]
train_descp_select1.groupby(['MPA_DESC_SUBCAT','DESCP_TYPE','UKURAN','UOM','mean_qty_binned']).agg({'mean_qty_binned':'size'})

In [ ]:
all_item = pd.merge(df_plu, df_nas, left_on='MPA_PLU', right_on='ITEM_N')[['MPA_PLU', 'MPA_DESC', 'UKURAN']]
all_item = all_item.sort_values('MPA_DESC')

data_filter = []
for idx, row in all_item.iterrows():
    
    show_data = train_descp.loc[(train_descp['TR_PLU_PCS'] == row['MPA_PLU']) & (train_descp['UKURAN'] == row['UKURAN'])]


    Q1 = round(show_data['mean_qty'].quantile(0.25),2)
    Q2 = round(show_data['mean_qty'].quantile(0.5),2)
    Q3 = round(show_data['mean_qty'].quantile(0.75),2)
    IQR= round(Q3 - Q1, 2)
    upper_out = Q3 + 1.5 * IQR
    lower_out = Q1 - 1.5 * IQR
    MAX = show_data['mean_qty'].max()
    MIN = show_data['mean_qty'].min()
    
    # calculate summary statistics
    data_mean, data_std = show_data['mean_qty'].mean(), show_data['mean_qty'].std()
    # identify outliers
    cut_off = data_std * 1
    lower, upper = data_mean - cut_off, data_mean + cut_off

#     # manually 
#     lower = 7
#     upper = 30



    show_data_ = show_data[(show_data['mean_qty'] > lower) & (show_data['mean_qty'] < upper)]
    data_filter.append(show_data_)
    median = round(show_data_['mean_qty'].median(),2)
    
#     print("Q1:{} Q2:{} median:{} Q3:{} IQR:{} MAX:{} MIN:{}".format(Q1,Q2,median,Q3,IQR,MAX,MIN))
#     print("lower {} upper{}".format(lower, upper))
#     print()
    
show_data_filter = pd.concat(data_filter)

In [ ]:
show_data_filter.groupby(['MPA_DESC_SUBCAT','DESCP_TYPE','UKURAN','UOM']).agg({'mean_qty':'median'})