In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

import pymongo
import cx_Oracle


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)

In [2]:
conn_str = u'report/justd0it@10.234.152.61:1521/alfabi'
connection = cx_Oracle.connect(conn_str)

conn_mongo = pymongo.MongoClient\
        ("mongodb://127.0.0.1:27017/seq_trans")
mydb = conn_mongo["seq_trans"]
print(mydb.list_collection_names())

mycol = mydb['member_item_seq']

['member_item_seq']

In [3]:
# df_sgm = pd.read_csv('df_trans_user_item_date.csv', sep='\t', dtype='object')
# df_item = pd.read_csv('MASTER_ITEM_202012121853.csv', dtype='object')
# df_sgm['TR_DATE'] = df_sgm['TR_DATE'].map(lambda x: eval(x))
# df_sgm['TR_PLU'] = df_sgm['TR_PLU'].apply(lambda x: x[0:-1])

In [4]:
q_test = """
SELECT * FROM report.RPT_TRANS rt 
WHERE rt.TR_MEMBERS = '9990011847758192'
AND rt.TR_PLU_PCS = '120763'
AND TR_DATE BETWEEN '11nov20' AND '11nov20'

"""

df_test = pd.read_sql_query(q_test, connection)   

# df_test.groupby(['TR_MEMBERS','TR_PLU_PCS','TR_DATE']).agg({'TR_QTY':'sum'})
df_test[['TR_MEMBERS','TR_PLU_PCS','TR_DATE','TR_QTY']]

         TR_MEMBERS  TR_PLU_PCS    TR_DATE  TR_QTY
0  9990011847758192      120763 2020-11-11     2.0
1  9990011847758192      120763 2020-11-11     1.0
2  9990011847758192      120763 2020-11-11     1.0
3  9990011847758192      120763 2020-11-11     4.0

In [5]:
mycol.find_one({'TR_MEMBERS':'9990011847758192', 'TR_PLU_PCS':120763})

{'_id': ObjectId('5fd90c05b8f8002aaad754f7'),
 'TR_MEMBERS': '9990011847758192',
 'TR_PLU_PCS': 120763,
 'updated_at': datetime.datetime(2021, 1, 13, 2, 13, 37, 643000),
 'TRX_DATE': {'1607904000': [3, '- -'],
  '1605830400': [2, '-'],
  '1605398400': [1, '-'],
  '1605139200': [3, '- -'],
  '1605052800': [8, '- - - -'],
  '1609545600': [3, '-']},
 'TRF_DATE': {'1609545600': 3,
  '1607904000': 3,
  '1605830400': 2,
  '1605398400': 1,
  '1605139200': 3,
  '1605052800': 8}}

In [6]:
# q_plu = """
# SELECT DISTINCT MPA_PLU, MPA_DESC, MPA_DESC_SUBCAT FROM MASTER_PLU_ALFAGIFT mpa
# where lower(mpa.MPA_DESC) like 'sgm eksplor%'
# """

# df_plu = pd.read_sql_query(q_plu, connection)     
# li_plu = df_plu['MPA_PLU']


# df_all = []
# for plu in li_plu[0:20]:
#     df = pd.DataFrame(mycol.find({'TR_PLU_PCS':plu}))
#     df_all.append(df)

# df_seq_1 = pd.concat(df_all)
# df_seq_1.head()
df_seq_1 = pd.DataFrame()

In [7]:
q_plu = """
SELECT DISTINCT MPA_PLU, MPA_DESC, MPA_DESC_SUBCAT FROM MASTER_PLU_ALFAGIFT mpa
where lower(mpa.MPA_DESC) like 'sgm eksplor%'
or lower(mpa.MPA_DESC) like 'anlene%'
or lower(mpa.MPA_DESC) like 'dancow%'
or lower(mpa.MPA_DESC) like 'bebelac%'
or lower(mpa.MPA_DESC) like 'lactogrow%'
or lower(mpa.MPA_DESC) like 'ff baby%'
or lower(mpa.MPA_DESC) like 'pepsodent pg economy%'
"""

df_plu = pd.read_sql_query(q_plu, connection)     
li_plu = df_plu['MPA_PLU']


df_all = []
for plu in li_plu:
    df = pd.DataFrame(mycol.find({'TR_PLU_PCS':plu}))
    df_all.append(df)

df_seq_2 = pd.concat(df_all)
df_seq_2.head()

                        _id        TR_MEMBERS  TR_PLU_PCS              updated_at                                                                                                                                                                                                                           TRX_DATE                                                              TRF_DATE last_order_date next_order_date
0  5fd90a51b8f8002aaaba19da  9990013140543181      120763 2021-01-13 04:59:02.060                                                                                                                                   {'1607904000': [1, '-'], '1607558400': [1, '-'], '1603929600': [1, '-'], '1609804800': [1, '-']}  {'1607904000': 1, '1607558400': 1, '1603929600': 1, '1609804800': 1}             NaT             NaT
1  5fd90a51b8f8002aaaba19e7  9990011494110271      120763 2021-01-12 13:19:07.981                                                                                                                                                                                          {'1607904000': [1, '-'], '1597276800': 1}                                    {'1607904000': 1, '1597276800': 1}             NaT             NaT
2  5fd90a51b8f8002aaaba2495  9990021000743963      120763 2021-01-12 13:20:05.987                                                                                                                                                                                                           {'1607904000': [1, '-']}                                                     {'1607904000': 1}             NaT             NaT
3  5fd90a51b8f8002aaaba3bb2  9990011419048278      120763 2021-01-12 17:55:48.841                                                                                                                                          {'1607990400': [1, '-'], '1607904000': [1, '-'], '1605398400': [1, '-'], '1602201600': 1}  {'1607990400': 1, '1607904000': 1, '1605398400': 1, '1602201600': 1}             NaT             NaT
4  5fd90a52b8f8002aaaba5d59  9990012150859676      120763 2021-01-13 04:59:08.586  {'1607904000': [1, '-'], '1603929600': [1, '-'], '1594684800': 1, '1591142400': 1, '1588896000': 1, '1588550400': 1, '1588204800': 1, '1588032000': 1, '1587859200': 1, '1587427200': 1, '1586908800': 1, '1609286400': [1, '-']}  {'1609286400': 1, '1607904000': 1, '1603929600': 1, '1594684800': 1}             NaT             NaT

In [8]:
df_seq = pd.concat([df_seq_1, df_seq_2]).reset_index(drop=True)

In [9]:
q_nas = """
SELECT ITEM_N, DESCP, UKURAN, PANJANG, LEBAR, TINGGI, UOM FROM MASTER_NAS_M mnm 
"""

df_nas = pd.read_sql_query(q_nas, connection)
display(df_nas.head())

def norm_uom(uom):
    li_uom_norm = []
    li_weight = []
    
    if uom == np.nan:
        li_weight.append(np.nan)
        li_uom_norm.append(np.nan)
    elif uom == 'KG':
        li_weight.append(1000)
        li_uom_norm.append('G')
    elif uom == 'L':
        li_weight.append(1000)
        li_uom_norm.append('ML')
    else:
        li_weight.append(1)
        li_uom_norm.append(uom)

    return li_uom_norm[0], li_weight[0]
            
        
df_nas['UOM_NORM'], df_nas['weight'] = zip(*df_nas['UOM'].apply(norm_uom))
df_nas['UKURAN_NORM'] = df_nas['UKURAN'] * df_nas['weight']


df_nas['UOM'] = df_nas['UOM_NORM']
df_nas['UKURAN']= df_nas['UKURAN_NORM']

   ITEM_N                            DESCP  UKURAN  PANJANG  LEBAR  TINGGI   UOM
0  851706          SAUCEPAN 16CM (SN-0211)     NaN      1.0    1.0     1.0  None
1  851707  CYPRUZ AIR FRYER 4.5L (DF-0155)     NaN      1.0    1.0     1.0  None
2  851708  CYPRUZ GRIL & STEAMBOT(TG-0295)     NaN      1.0    1.0     1.0  None
3  851709  CYPRUZ COOKWARE SET 4 (PI-0900)     NaN      1.0    1.0     1.0  None
4  851710  CYPRUZ COOKWARE SET 5 (PI-0901)     NaN      1.0    1.0     1.0  None

In [10]:
df = pd.merge(df_seq, df_nas, left_on='TR_PLU_PCS', right_on='ITEM_N')[list(df_seq) + ['DESCP','UKURAN','UOM']]
df = df[df['TRF_DATE'].notnull()]

min_freq = 4
df_hist = df[df['TRF_DATE'].apply(lambda x: len(x)) >= min_freq]

In [11]:
df_hist.head()

                         _id        TR_MEMBERS  TR_PLU_PCS              updated_at                                                                                                                                                                                                                           TRX_DATE                                                                                                                 TRF_DATE last_order_date next_order_date                           DESCP  UKURAN UOM
0   5fd90a51b8f8002aaaba19da  9990013140543181      120763 2021-01-13 04:59:02.060                                                                                                                                   {'1607904000': [1, '-'], '1607558400': [1, '-'], '1603929600': [1, '-'], '1609804800': [1, '-']}                                                     {'1607904000': 1, '1607558400': 1, '1603929600': 1, '1609804800': 1}             NaT             NaT  SGM EKSPLOR 1+ VANILA BOX 150G   150.0  GR
3   5fd90a51b8f8002aaaba3bb2  9990011419048278      120763 2021-01-12 17:55:48.841                                                                                                                                          {'1607990400': [1, '-'], '1607904000': [1, '-'], '1605398400': [1, '-'], '1602201600': 1}                                                     {'1607990400': 1, '1607904000': 1, '1605398400': 1, '1602201600': 1}             NaT             NaT  SGM EKSPLOR 1+ VANILA BOX 150G   150.0  GR
4   5fd90a52b8f8002aaaba5d59  9990012150859676      120763 2021-01-13 04:59:08.586  {'1607904000': [1, '-'], '1603929600': [1, '-'], '1594684800': 1, '1591142400': 1, '1588896000': 1, '1588550400': 1, '1588204800': 1, '1588032000': 1, '1587859200': 1, '1587427200': 1, '1586908800': 1, '1609286400': [1, '-']}                                                     {'1609286400': 1, '1607904000': 1, '1603929600': 1, '1594684800': 1}             NaT             NaT  SGM EKSPLOR 1+ VANILA BOX 150G   150.0  GR
5   5fd90a52b8f8002aaaba5e94  9990011323821648      120763 2021-01-12 14:21:54.623                                                                                   {'1607904000': [1, '-'], '1607472000': [1, '-'], '1607299200': [1, '-'], '1609027200': [1, '-'], '1610323200': [1, '-'], '1609113600': [1, '-']}                                    {'1609113600': 1, '1609027200': 1, '1607904000': 1, '1607472000': 1, '1607299200': 1}             NaT             NaT  SGM EKSPLOR 1+ VANILA BOX 150G   150.0  GR
11  5fd90a53b8f8002aaabace0b  9990013066618077      120763 2021-01-12 14:51:36.553                                                           {'1608336000': [1, '-'], '1608076800': [1, '-'], '1607904000': [1, '-'], '1607817600': [1, '-'], '1607731200': [1, '-'], '1607126400': [1, '-'], '1607040000': [1, '-']}  {'1608336000': 1, '1608076800': 1, '1607904000': 1, '1607817600': 1, '1607731200': 1, '1607126400': 1, '1607040000': 1}      2020-12-19      2020-12-22  SGM EKSPLOR 1+ VANILA BOX 150G   150.0  GR

In [12]:
# set_time = {'1608163200': 1, '1607904000': 1, '1607040000': 1, '1606176000': 1, '1605916800': 1, '1605657600': 1, '1605225600': 1, '1602288000': 1}
# set_time = sorted(set_time.items())


# print(set_time)

In [13]:
def cal_feature(set_timestamp_old):

    set_timestamp_old = sorted(set_timestamp_old.items())
    last_order = int(set_timestamp_old[-1][0])
        
    read_seq = []
    qty_seq = []
    li_seq = []
    set_timestamp = []
    for set_t in (set_timestamp_old):
        if isinstance((set_t[1]), int):

            continue
        set_timestamp.append(set_t)
    print(set_timestamp)
    
    if len(set_timestamp) < min_freq:
        print('not enough')
        return 0, 0, 0
    
    for idx in range(0,len(set_timestamp),1):

        if str(set_timestamp[idx][1][-1]).startswith('-'):
            print('masuk')
            # convert to readable timestamp and append quantity
            read_seq.append(datetime.fromtimestamp(int(set_timestamp[idx][0])).strftime('%d%b%y'))
            qty_seq.append(set_timestamp[idx][1][0])

            # find different day between order 
            # if (idx+1) < len(set_timestamp):
            diff = int(set_timestamp[idx][0]) - int(set_timestamp[idx-1][0])
            diff_day = int((diff / 3600) / 24)
            li_seq.append(diff_day)
        

    print(li_seq)
    if len(li_seq) < min_freq-1:
        print('not enough')
        return 0, 0, 0
    qty_seq = qty_seq[-1*(min_freq):-1]
    
    # get onyly until needed sequence order
    li_seq = li_seq[-1*(min_freq-1):]
    # max diff day
    seq_max = np.max(li_seq)
    # min diff day
    seq_min = np.min(li_seq)
    # day since
    seq_since = li_seq[-2]
    # mean
    seq_mean = round(np.mean(li_seq),2)
    # mean_qty
    seq_mean_qty = round(np.mean([li_seq[i]/qty_seq[i] for i in range(len(li_seq))]),2)
    # variance
    seq_var = round(np.var(li_seq),2)

    ## appending
    li_seq.append(seq_max)
    li_seq.append(seq_min)
    li_seq.append(seq_since)
    li_seq.append(seq_mean)
    li_seq.append(seq_var)
    
    li_seq.extend(qty_seq)
    li_seq.append(seq_mean_qty)


    return li_seq, last_order, read_seq

In [14]:
def cal_feature_old(set_timestamp):

    set_timestamp = sorted(set_timestamp.items())
    last_order = int(set_timestamp[-1][0])
        
    read_seq = []
    qty_seq = []
    li_seq = []

    for idx in range(0,len(set_timestamp),1):

            # convert to readable timestamp and append quantity
            read_seq.append(datetime.fromtimestamp(int(set_timestamp[idx][0])).strftime('%d%b%y'))
            qty_seq.append(set_timestamp[idx][1])

            # find different day between order 
            # if (idx+1) < len(set_timestamp):
            diff = int(set_timestamp[idx][0]) - int(set_timestamp[idx-1][0])
            diff_day = int((diff / 3600) / 24)
            li_seq.append(diff_day)
        
    
    qty_seq = qty_seq[-1*(min_freq):-1]
    
    # get onyly until needed sequence order
    li_seq = li_seq[-1*(min_freq-1):]
    # max diff day
    seq_max = np.max(li_seq)
    # min diff day
    seq_min = np.min(li_seq)
    # day since
    seq_since = li_seq[-2]
    # mean
    seq_mean = round(np.mean(li_seq),2)
    # mean_qty
    seq_mean_qty = round(np.mean([li_seq[i]/qty_seq[i] for i in range(len(li_seq))]),2)
    # variance
    seq_var = round(np.var(li_seq),2)

    ## appending
    li_seq.append(seq_max)
    li_seq.append(seq_min)
    li_seq.append(seq_since)
    li_seq.append(seq_mean)
    li_seq.append(seq_var)
    
    li_seq.extend(qty_seq)
    li_seq.append(seq_mean_qty)


    return li_seq, last_order, read_seq

In [15]:
# df_hist['tr_date_seq'], df_hist['last_order'], df_hist['read_seq'] = zip(*df_hist['TRX_DATE'].apply(cal_feature))

In [16]:
df_hist['tr_date_seq'], df_hist['last_order'], df_hist['read_seq'] = zip(*df_hist['TRF_DATE'].apply(cal_feature_old))

<ipython-input-16-e6c739f2e245>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist['tr_date_seq'], df_hist['last_order'], df_hist['read_seq'] = zip(*df_hist['TRF_DATE'].apply(cal_feature_old))
/opt/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

In [17]:
df_hist.head()

                         _id        TR_MEMBERS  TR_PLU_PCS              updated_at                                                                                                                                                                                                                           TRX_DATE                                                                                                                 TRF_DATE last_order_date next_order_date                           DESCP  UKURAN UOM                                                 tr_date_seq  last_order                                                         read_seq
0   5fd90a51b8f8002aaaba19da  9990013140543181      120763 2021-01-13 04:59:02.060                                                                                                                                   {'1607904000': [1, '-'], '1607558400': [1, '-'], '1603929600': [1, '-'], '1609804800': [1, '-']}                                                     {'1607904000': 1, '1607558400': 1, '1603929600': 1, '1609804800': 1}             NaT             NaT  SGM EKSPLOR 1+ VANILA BOX 150G   150.0  GR        (42, 4, 22, 42, 4, 4, 22.67, 240.89, 1, 1, 1, 22.67)  1609804800                             [29Oct20, 10Dec20, 14Dec20, 05Jan21]
3   5fd90a51b8f8002aaaba3bb2  9990011419048278      120763 2021-01-12 17:55:48.841                                                                                                                                          {'1607990400': [1, '-'], '1607904000': [1, '-'], '1605398400': [1, '-'], '1602201600': 1}                                                     {'1607990400': 1, '1607904000': 1, '1605398400': 1, '1602201600': 1}             NaT             NaT  SGM EKSPLOR 1+ VANILA BOX 150G   150.0  GR       (37, 29, 1, 37, 1, 29, 22.33, 238.22, 1, 1, 1, 22.33)  1607990400                             [09Oct20, 15Nov20, 14Dec20, 15Dec20]
4   5fd90a52b8f8002aaaba5d59  9990012150859676      120763 2021-01-13 04:59:08.586  {'1607904000': [1, '-'], '1603929600': [1, '-'], '1594684800': 1, '1591142400': 1, '1588896000': 1, '1588550400': 1, '1588204800': 1, '1588032000': 1, '1587859200': 1, '1587427200': 1, '1586908800': 1, '1609286400': [1, '-']}                                                     {'1609286400': 1, '1607904000': 1, '1603929600': 1, '1594684800': 1}             NaT             NaT  SGM EKSPLOR 1+ VANILA BOX 150G   150.0  GR  (107, 46, 16, 107, 16, 46, 56.33, 1433.56, 1, 1, 1, 56.33)  1609286400                             [14Jul20, 29Oct20, 14Dec20, 30Dec20]
5   5fd90a52b8f8002aaaba5e94  9990011323821648      120763 2021-01-12 14:21:54.623                                                                                   {'1607904000': [1, '-'], '1607472000': [1, '-'], '1607299200': [1, '-'], '1609027200': [1, '-'], '1610323200': [1, '-'], '1609113600': [1, '-']}                                    {'1609113600': 1, '1609027200': 1, '1607904000': 1, '1607472000': 1, '1607299200': 1}             NaT             NaT  SGM EKSPLOR 1+ VANILA BOX 150G   150.0  GR           (5, 13, 1, 13, 1, 13, 6.33, 24.89, 1, 1, 1, 6.33)  1609113600                    [07Dec20, 09Dec20, 14Dec20, 27Dec20, 28Dec20]
11  5fd90a53b8f8002aaabace0b  9990013066618077      120763 2021-01-12 14:51:36.553                                                           {'1608336000': [1, '-'], '1608076800': [1, '-'], '1607904000': [1, '-'], '1607817600': [1, '-'], '1607731200': [1, '-'], '1607126400': [1, '-'], '1607040000': [1, '-']}  {'1608336000': 1, '1608076800': 1, '1607904000': 1, '1607817600': 1, '1607731200': 1, '1607126400': 1, '1607040000': 1}      2020-12-19      2020-12-22  SGM EKSPLOR 1+ VANILA BOX 150G   150.0  GR                 (1, 2, 3, 3, 1, 2, 2.0, 0.67, 1, 1, 1, 2.0)  1608336000  [04Dec20, 05Dec20, 12Dec20, 13Dec20, 14Dec20, 16Dec20, 19Dec20]

In [18]:
#col_feature = ['t_5', 't_4', 't_3', 't_2', 't_1', 'max', 'min', 'since', 'mean', 'variance', 'q_5', 'q_4', 'q_3', 'q_2', 'q_1', 'mean_qty']
col_feature = ['t_'+ str(i) for i in range((min_freq-1),0,-1)] + \
                ['max', 'min', 'since', 'mean', 'variance'] + \
                ['q_'+ str(i) for i in range((min_freq-1),0,-1)] + ['mean_qty']
train = pd.DataFrame(df_hist.tr_date_seq.tolist(), index=df_hist.index, columns=col_feature)

In [19]:
df_hist.head()

                         _id        TR_MEMBERS  TR_PLU_PCS              updated_at                                                                                                                                                                                                                           TRX_DATE                                                                                                                 TRF_DATE last_order_date next_order_date                           DESCP  UKURAN UOM                                                 tr_date_seq  last_order                                                         read_seq
0   5fd90a51b8f8002aaaba19da  9990013140543181      120763 2021-01-13 04:59:02.060                                                                                                                                   {'1607904000': [1, '-'], '1607558400': [1, '-'], '1603929600': [1, '-'], '1609804800': [1, '-']}                                                     {'1607904000': 1, '1607558400': 1, '1603929600': 1, '1609804800': 1}             NaT             NaT  SGM EKSPLOR 1+ VANILA BOX 150G   150.0  GR        (42, 4, 22, 42, 4, 4, 22.67, 240.89, 1, 1, 1, 22.67)  1609804800                             [29Oct20, 10Dec20, 14Dec20, 05Jan21]
3   5fd90a51b8f8002aaaba3bb2  9990011419048278      120763 2021-01-12 17:55:48.841                                                                                                                                          {'1607990400': [1, '-'], '1607904000': [1, '-'], '1605398400': [1, '-'], '1602201600': 1}                                                     {'1607990400': 1, '1607904000': 1, '1605398400': 1, '1602201600': 1}             NaT             NaT  SGM EKSPLOR 1+ VANILA BOX 150G   150.0  GR       (37, 29, 1, 37, 1, 29, 22.33, 238.22, 1, 1, 1, 22.33)  1607990400                             [09Oct20, 15Nov20, 14Dec20, 15Dec20]
4   5fd90a52b8f8002aaaba5d59  9990012150859676      120763 2021-01-13 04:59:08.586  {'1607904000': [1, '-'], '1603929600': [1, '-'], '1594684800': 1, '1591142400': 1, '1588896000': 1, '1588550400': 1, '1588204800': 1, '1588032000': 1, '1587859200': 1, '1587427200': 1, '1586908800': 1, '1609286400': [1, '-']}                                                     {'1609286400': 1, '1607904000': 1, '1603929600': 1, '1594684800': 1}             NaT             NaT  SGM EKSPLOR 1+ VANILA BOX 150G   150.0  GR  (107, 46, 16, 107, 16, 46, 56.33, 1433.56, 1, 1, 1, 56.33)  1609286400                             [14Jul20, 29Oct20, 14Dec20, 30Dec20]
5   5fd90a52b8f8002aaaba5e94  9990011323821648      120763 2021-01-12 14:21:54.623                                                                                   {'1607904000': [1, '-'], '1607472000': [1, '-'], '1607299200': [1, '-'], '1609027200': [1, '-'], '1610323200': [1, '-'], '1609113600': [1, '-']}                                    {'1609113600': 1, '1609027200': 1, '1607904000': 1, '1607472000': 1, '1607299200': 1}             NaT             NaT  SGM EKSPLOR 1+ VANILA BOX 150G   150.0  GR           (5, 13, 1, 13, 1, 13, 6.33, 24.89, 1, 1, 1, 6.33)  1609113600                    [07Dec20, 09Dec20, 14Dec20, 27Dec20, 28Dec20]
11  5fd90a53b8f8002aaabace0b  9990013066618077      120763 2021-01-12 14:51:36.553                                                           {'1608336000': [1, '-'], '1608076800': [1, '-'], '1607904000': [1, '-'], '1607817600': [1, '-'], '1607731200': [1, '-'], '1607126400': [1, '-'], '1607040000': [1, '-']}  {'1608336000': 1, '1608076800': 1, '1607904000': 1, '1607817600': 1, '1607731200': 1, '1607126400': 1, '1607040000': 1}      2020-12-19      2020-12-22  SGM EKSPLOR 1+ VANILA BOX 150G   150.0  GR                 (1, 2, 3, 3, 1, 2, 2.0, 0.67, 1, 1, 1, 2.0)  1608336000  [04Dec20, 05Dec20, 12Dec20, 13Dec20, 14Dec20, 16Dec20, 19Dec20]

In [20]:
df_hist_cond = df_hist.loc[list(train[(train['mean_qty'] > 7) & (train['variance'] < 80)].index)]
df_hist_cond[df_hist_cond['TR_PLU_PCS'] == 120771]

                             _id        TR_MEMBERS  TR_PLU_PCS              updated_at                                                                                                                                                                                                                                                                                                          TRX_DATE                                                                                                                                                                                                      TRF_DATE last_order_date next_order_date                           DESCP  UKURAN UOM                                             tr_date_seq  last_order                                                                                                      read_seq
734772  5fd90a53b8f8002aaabab722  9990012150914218      120771 2021-01-13 04:23:34.172                                                                                                                                                        {'1608336000': [1, '-'], '1607904000': [1, '-'], '1606780800': [1, '-'], '1604880000': [1, '-'], '1604188800': [1, '-'], '1594684800': 1, '1592697600': 1}                                                                                                        {'1608336000': 1, '1607904000': 1, '1606780800': 1, '1604880000': 1, '1604188800': 1, '1594684800': 1}      2020-12-19      2021-01-15  SGM EKSPLOR 3+ VANILA BOX 900G   900.0  GR    (22, 13, 5, 22, 5, 13, 13.33, 48.22, 1, 1, 1, 13.33)  1608336000                                                        [14Jul20, 01Nov20, 09Nov20, 01Dec20, 14Dec20, 19Dec20]
734776  5fd90a54b8f8002aaabb1fec  9990012171809986      120771 2021-01-13 06:54:49.854                                                                                                                                          {'1607904000': [1, '-'], '1607212800': [1, '-'], '1605744000': [1, '-'], '1604275200': [1, '-'], '1602979200': [1, '-'], '1609027200': [1, '-'], '1609891200': [1, '-']}                                                                                       {'1609027200': 1, '1607904000': 1, '1607212800': 1, '1605744000': 1, '1604275200': 1, '1602979200': 1, '1609891200': 1}             NaT             NaT  SGM EKSPLOR 3+ VANILA BOX 900G   900.0  GR     (8, 13, 10, 13, 8, 13, 10.33, 4.22, 1, 1, 1, 10.33)  1609891200                                               [18Oct20, 02Nov20, 19Nov20, 06Dec20, 14Dec20, 27Dec20, 06Jan21]
734779  5fd90a54b8f8002aaabb3af8  9990021032212892      120771 2021-01-13 04:01:18.468                                                                                                                                                                                          {'1607904000': [1, '-'], '1606348800': [1, '-'], '1604361600': [1, '-'], '1608854400': [1, '-'], '1610064000': [1, '-']}                                                                                                                                          {'1608854400': 1, '1607904000': 1, '1606348800': 1, '1604361600': 1}             NaT             NaT  SGM EKSPLOR 3+ VANILA BOX 900G   900.0  GR  (23, 18, 11, 23, 11, 18, 17.33, 24.22, 1, 1, 1, 17.33)  1608854400                                                                          [03Nov20, 26Nov20, 14Dec20, 25Dec20]
734781  5fd90a54b8f8002aaabb484d  9990011384491068      120771 2021-01-13 05:42:13.325  {'1607990400': [1, '-'], '1607904000': [1, '-'], '1606780800': [1, '-'], '1605916800': [1, '-'], '1604880000': [1, '-'], '1604102400': [1, '-'], '1603584000': [1, '-'], '1602028800': 1, '1600128000': 1, '1599436800': 1, '1597190400': 1, '1594684800': 1, '1593734400': 1, '1591574400': 1, '1585267200': 1}  {'1607990400': 1, '1607904000': 1, '1606780800': 1, '1605916800': 1, '1604880000': 1, '1604102400': 1, '1603584000': 1, '1602028800': 1, '1600128000': 1, '1599436800': 1, '1597190400': 1, '1594684800': 1}      2020-12-15      2020-12-18  SGM EKSPLOR 3+ VANILA BOX 900G   900.0  GR         (10, 13, 1, 13, 1, 13, 8.0, 26.0, 1, 1, 1, 8.0)  1607990400  [14Jul20, 12Aug20, 07Sep20, 15Sep20, 07Oct20, 25Oct20, 31Oct20, 09Nov20, 21Nov20, 01Dec20, 14Dec20, 15Dec20]
734793  5fd90a56b8f8002aaabbc893  9990010071231816      120771 2021-01-13 02:24:42.050                                                                                                                                                                                                                  {'1607904000': [1, '-'], '1606867200': [1, '-'], '1605744000': [1, '-'], '1604966400': [1, '-']}                                                                                                                                          {'1607904000': 1, '1606867200': 1, '1605744000': 1, '1604966400': 1}             NaT             NaT  SGM EKSPLOR 3+ VANILA BOX 900G   900.0  GR     (9, 13, 12, 13, 9, 13, 11.33, 2.89, 1, 1, 1, 11.33)  1607904000                                                                          [10Nov20, 19Nov20, 02Dec20, 14Dec20]
...                          ...               ...         ...                     ...                                                                                                                                                                                                                                                                                                               ...                                                                                                                                                                                                           ...             ...             ...                             ...     ...  ..                                                     ...         ...                                                                                                           ...
797333  5fda6aceb8f8002aaa622f9b  9990017120961019      120771 2021-01-08 10:17:55.815                                                                                     {'1597104000': 1, '1596067200': 1, '1595203200': 1, '1594512000': 1, '1593734400': 1, '1592956800': 1, '1592179200': 1, '1591056000': 1, '1590105600': 1, '1589587200': 1, '1588896000': 1, '1587859200': 1, '1586390400': 1}                                                                                                                                          {'1597104000': 1, '1596067200': 1, '1595203200': 1, '1594512000': 1}      2020-08-11      2020-08-21  SGM EKSPLOR 3+ VANILA BOX 900G   900.0  GR       (8, 10, 12, 12, 8, 10, 10.0, 2.67, 1, 1, 1, 10.0)  1597104000                                                                          [12Jul20, 20Jul20, 30Jul20, 11Aug20]
798237  5fda7356b8f8002aaac1699b  9990011727986668      120771 2021-01-08 10:07:51.376                                                                                                                                                         {'1596844800': 1, '1596326400': 1, '1595635200': 1, '1594598400': 1, '1594166400': 1, '1593129600': 1, '1591660800': 1, '1591228800': 1, '1590710400': 1}                                                                                                                                          {'1596844800': 1, '1596326400': 1, '1595635200': 1, '1594598400': 1}      2020-08-08      2020-08-15  SGM EKSPLOR 3+ VANILA BOX 900G   900.0  GR         (12, 8, 6, 12, 6, 8, 8.67, 6.22, 1, 1, 1, 8.67)  1596844800                                                                          [13Jul20, 25Jul20, 02Aug20, 08Aug20]
798370  5fda748eb8f8002aaacee0cd  9990011690919600      120771 2021-01-08 09:55:07.205                                                                                                      {'1596758400': 1, '1595980800': 1, '1594771200': 1, '1594252800': 1, '1592006400': 1, '1590624000': 1, '1589673600': 1, '1589155200': 1, '1588204800': 1, '1586908800': 1, '1585267200': 2, '1582761600': 1}                                                                                                                                          {'1596758400': 1, '1595980800': 1, '1594771200': 1, '1594252800': 1}             NaT             NaT  SGM EKSPLOR 3+ VANILA BOX 900G   900.0  GR       (6, 14, 9, 14, 6, 14, 9.67, 10.89, 1, 1, 1, 9.67)  1596758400                                                                          [09Jul20, 15Jul20, 29Jul20, 07Aug20]
798477  5fda758eb8f8002aaada24e7  9990012332385623      120771 2021-01-08 09:54:29.924                                                                                                                                        {'1596758400': 1, '1595721600': 1, '1595203200': 1, '1594771200': 1, '1593043200': 1, '1592524800': 1, '1592092800': 1, '1589155200': 1, '1585353600': 1, '1584403200': 1}                                                                                                                                          {'1596758400': 1, '1595721600': 1, '1595203200': 1, '1594771200': 1}             NaT             NaT  SGM EKSPLOR 3+ VANILA BOX 900G   900.0  GR         (5, 6, 12, 12, 5, 6, 7.67, 9.56, 1, 1, 1, 7.67)  1596758400                                                                          [15Jul20, 20Jul20, 26Jul20, 07Aug20]
799289  5fda7d2ab8f8002aaa2ce133  9990012241422144      120771 2021-01-08 10:24:26.743                                                                                                                                                                                                                             {'1596499200': 1, '1595462400': 1, '1595376000': 1, '1594425600': 1, '1593734400': 1}                                                                                                                                          {'1596499200': 1, '1595462400': 1, '1595376000': 1, '1594425600': 1}             NaT             NaT  SGM EKSPLOR 3+ VANILA BOX 900G   900.0  GR         (11, 1, 12, 12, 1, 1, 8.0, 24.67, 1, 1, 1, 8.0)  1596499200                                                                          [11Jul20, 22Jul20, 23Jul20, 04Aug20]

[3937 rows x 14 columns]

In [21]:
train[(train['mean_qty'] < 7) & (train['variance'] < 70)]

         t_3  t_2  t_1  max  min  since  mean  variance  q_3  q_2  q_1  mean_qty
5          5   13    1   13    1     13  6.33     24.89    1    1    1      6.33
11         1    2    3    3    1      2  2.00      0.67    1    1    1      2.00
14         4    5   16   16    4      5  8.33     29.56    1    1    2      5.67
25         5    3    3    5    3      3  3.67      0.89    1    1    1      3.67
36         5    7    8    8    5      7  6.67      1.56    1    1    1      6.67
...      ...  ...  ...  ...  ...    ...   ...       ...  ...  ...  ...       ...
9703379    6    2    5    6    2      2  4.33      2.89    2    2    2      2.17
9703519    2    4    2    4    2      4  2.67      0.89    1    1    1      2.67
9703927    1    3    2    3    1      3  2.00      0.67    1    1    1      2.00
9704035    3    2    3    3    2      2  2.67      0.22    1    1    1      2.67
9705146    1    3    1    3    1      3  1.67      0.89    1    1    1      1.67

[76158 rows x 12 columns]

In [22]:
# X = train_descp[list(train) + ['UKURAN']].drop(['t_1','q_1'], 1)
# Y = train_descp['t_1']

# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)

# from sklearn.linear_model import LinearRegression
# clf = LinearRegression()
# clf.fit(X_train, y_train)

# train_predictions = clf.predict(X_test)
# from sklearn import metrics
# rmse = np.sqrt( metrics.mean_squared_error( y_test, train_predictions ) )
# print("RMSE: {}".format(rmse))


# test = train_descp[list(train) + ['UKURAN']].drop(['t_5','q_5'], 1)
# test_predictions = clf.predict(test)

# test['next_order'] = list(test_predictions)
# test['next_order'] = test['next_order'].astype(int).abs()

In [23]:
df_plu[df_plu['MPA_DESC'].str.contains('sgm',case=False)]

    MPA_PLU                         MPA_DESC MPA_DESC_SUBCAT
0    120763   SGM EKSPLOR 1+ VANILA BOX 150G      Susu Bubuk
1    120762     SGM EKSPLOR 1+ MADU BOX 150G      Susu Bubuk
7    120773   SGM EKSPLOR 3+ COKLAT BOX 900G      Susu Bubuk
8    120771   SGM EKSPLOR 3+ VANILA BOX 900G      Susu Bubuk
14   210099    SGM EKSPLOR 1+ PLAIN BOX 400G      Susu Bubuk
19   200219     SGM EKSPLOR 5+ MADU BOX 900G      Susu Bubuk
28   120769     SGM EKSPLOR 3+ MADU BOX 400G      Susu Bubuk
32   120764     SGM EKSPLOR 1+ MADU BOX 400G      Susu Bubuk
34   120766     SGM EKSPLOR 1+ MADU BOX 900G      Susu Bubuk
36   210045     SGM EKSPLOR 3+ MADU BOX 150G      Susu Bubuk
45   120768   SGM EKSPLOR 3+ VANILA BOX 400G      Susu Bubuk
49   200217     SGM EKSPLOR 5+ MADU BOX 400G      Susu Bubuk
51   120765   SGM EKSPLOR 1+ VANILA BOX 400G      Susu Bubuk
52   404407     SGM EKSPLOR 1+ MADU BOX 600G      Susu Bubuk
56   118829  SGM EKSPLOR 1+ SOYA VNL BOX400G      Susu Bubuk
61   120770   SGM EKSPLOR 3+ COKLAT BOX 400G      Susu Bubuk
63   406069   SGM EKSPLOR 1+ VANILA BOX 600G      Susu Bubuk
65   120772     SGM EKSPLOR 3+ MADU BOX 900G      Susu Bubuk
71   125341   SGM EKSPLOR 1+ SOYA MD BOX400G      Susu Bubuk
76   210057  SGM EKSPLOR 1+ BH&SYR F BOX800G      Susu Bubuk
77   120767   SGM EKSPLOR 1+ VANILA BOX 900G      Susu Bubuk
82   408723     SGM EKSPLOR 3+ MADU BOX 600G      Susu Bubuk
83   408722   SGM EKSPLOR 3+ VANILA BOX 600G      Susu Bubuk
85   403419   SGM EKSPLOR SOYA MADU BOX 700G      Susu Bubuk
86   210101  SGM EKSPLOR SOYA VANILA BOX700G      Susu Bubuk

### Clustering to remove outlier
> 
* we need to get dominant cluster which represent real user
* real users do not have to be more than the other clusters

In [111]:
train_cluster = pd.concat([train, df_hist['TR_PLU_PCS']], 1)
train_cluster = train_cluster[train_cluster['TR_PLU_PCS'] == 120762].drop(['TR_PLU_PCS','max','min','since','mean'], 1)

# from sklearn.cluster import KMeans
# kmeans = KMeans(n_clusters=3, random_state=123)
# label_p = kmeans.fit_predict(train_cluster)

# res_cluster = train_cluster.copy().reset_index(drop=True)
# res_cluster['label'] = pd.Series(list(label_p))
# dominant = res_cluster['label'].value_counts()[0:1].index[0]

# res_cluster[(res_cluster['label'] == dominant) &\
#             (res_cluster['t_3'] >= 5) & (res_cluster['t_2'] >= 5) & (res_cluster['t_1'] >= 5) &
#             (res_cluster['t_3'] <= 35) & (res_cluster['t_2'] <= 35) & (res_cluster['t_1'] <= 35)].describe()

# res_cluster[(res_cluster['label'] == 0)].describe()

train_cluster.describe()

                t_3           t_2           t_1      variance           q_3           q_2           q_1      mean_qty
count  11414.000000  11414.000000  11414.000000  11414.000000  11414.000000  11414.000000  11414.000000  11414.000000
mean      19.063343     18.840371     21.898808    310.495201      1.729017      1.732346      1.727703     15.802708
std       21.342014     20.708237     23.255702    549.269219      1.752415      1.713291      1.658100     12.057438
min        1.000000      1.000000      1.000000      0.000000      1.000000      1.000000      1.000000      0.200000
25%        5.000000      5.000000      6.000000     18.670000      1.000000      1.000000      1.000000      6.330000
50%       11.000000     11.000000     14.000000     96.220000      1.000000      1.000000      1.000000     12.500000
75%       26.000000     25.000000     30.000000    340.670000      2.000000      2.000000      2.000000     22.670000
max      154.000000    164.000000    164.000000   5618.000000     40.000000     48.000000     34.000000     60.330000

In [112]:
# train_cluster = pd.concat([train, df_hist['TR_PLU_PCS']], 1)
# train_cluster = train_cluster[train_cluster['TR_PLU_PCS'] == 120762].drop(['TR_PLU_PCS','max','min','since','mean'], 1)

# train_cluster[(train_cluster['t_3'] >= 5) & (train_cluster['t_2'] >= 5) & (train_cluster['t_1'] >= 5) &
#     (train_cluster['t_3'] <= 60) & (train_cluster['t_2'] <= 60) & (train_cluster['t_1'] <= 60)].describe()

In [113]:
# res_cluster[(res_cluster['label'] == 0) & (res_cluster['mean_qty'] >= 7) & (res_cluster['variance'] < 10)]

In [114]:
train_cluster[(train_cluster['q_3'] <= 2) & (train_cluster['q_2'] <= 2) & (train_cluster['q_1'] <= 2) & (train_cluster['variance'] < 300)].describe()

               t_3          t_2          t_1     variance          q_3          q_2          q_1     mean_qty
count  6375.000000  6375.000000  6375.000000  6375.000000  6375.000000  6375.000000  6375.000000  6375.000000
mean     13.525961    13.574745    14.741490    74.044298     1.174118     1.183216     1.178039    12.689432
std      12.271568    12.373046    12.640698    79.997068     0.379240     0.386874     0.382576     8.573825
min       1.000000     1.000000     1.000000     0.000000     1.000000     1.000000     1.000000     0.670000
25%       4.000000     4.000000     5.000000     9.560000     1.000000     1.000000     1.000000     6.000000
50%       9.000000     9.000000    11.000000    42.000000     1.000000     1.000000     1.000000    11.000000
75%      20.000000    20.000000    22.000000   117.890000     1.000000     1.000000     1.000000    17.330000
max      76.000000    69.000000    74.000000   299.560000     2.000000     2.000000     2.000000    57.330000

### Compare time consuming in different netto
> 
* first we user with less variance, we assume user buy based on their consumption and less affected by promotion or random purchase date.
* age might be affect consumption, cause more mature, amount of consumption should be decreased by parent.

In [27]:
# with open('watchlist_item.txt') as f:
#     watchlist = f.read().splitlines()
#     df_watchlist = pd.DataFrame({'DESCP':watchlist})

In [28]:
train_descp = pd.concat([train,df_hist], 1)[col_feature + ['TR_MEMBERS', 'TR_PLU_PCS', 'DESCP', 'TRF_DATE', 'read_seq', 'UKURAN', 'UOM']]
train_descp = pd.merge(train_descp, df_plu[['MPA_PLU', 'MPA_DESC_SUBCAT']], left_on='TR_PLU_PCS', right_on='MPA_PLU', how='left')
train_descp = train_descp[train_descp['UKURAN'].notnull()]
train_descp['UKURAN'] = train_descp['UKURAN'].astype(int)

In [29]:
train_descp['DESCP_TYPE'] = train_descp['DESCP'].str.split(' ').str[0:-1].str.join(' ')

In [30]:
train_descp.groupby(['MPA_DESC_SUBCAT','DESCP_TYPE','UKURAN','UOM']).agg({'mean_qty':'median'})

                                                              mean_qty
MPA_DESC_SUBCAT        DESCP_TYPE                 UKURAN UOM
Perawatan Gigi & Mulut PEPSODENT PG ECONOMY       75     GR     24.830
                       PEPSODENT PG ECONOMY JUMBO 190    GR     27.670
                                                  225    GR     19.670
Susu Bubuk             ANLENE ACTIFIT COKELAT BOX 250    GR     22.330
                       ANLENE GOLD COKELAT BOX    250    GR     26.000
                                                  650    GR     30.330
                       ANLENE GOLD ORI BOX        650    GR     29.330
                       ANLENE GOLD+ VANILA BOX    250    GR     25.330
                                                  650    GR     30.000
                       BEBELAC 3 MADU BOX         200    GR     12.330
                                                  400    GR     14.330
                                                  1000   G      18.000
                       BEBELAC 3 MADU CAN         800    GR     15.500
                       BEBELAC 3 VANILA BOX       400    GR     15.000
                                                  1000   G      17.170
                       BEBELAC 3 VANILA CAN       800    GR     15.000
                       BEBELAC 4 MADU BOX         400    GR     15.330
                                                  1000   G      19.330
                       BEBELAC 4 MADU CAN         800    GR     16.670
                       BEBELAC 4 VANILA BOX       400    GR     15.000
                       BEBELAC 4 VANILA CAN       800    GR     16.000
                       BEBELAC GOLD 3 VANILA BOX  700    GR     11.055
                       DANCOW 1+ MADU BOX         200    GR     11.330
                                                  400    GR     16.000
                                                  800    GR     13.670
                       DANCOW 1+ VANILA BOX       400    GR     14.330
                                                  800    GR     13.460
                       DANCOW 3+ COKELAT BOX      400    GR     17.670
                                                  800    GR     15.830
                       DANCOW 3+ MADU BOX         200    GR     13.670
                                                  400    GR     17.330
                                                  800    GR     15.170
                       DANCOW 3+ VANILA BOX       400    GR     17.000
                                                  800    GR     15.670
                       DANCOW 5+ COKELAT BOX      800    GR     18.000
                       DANCOW 5+ MADU BOX         400    GR     19.000
                                                  800    GR     17.500
                       DANCOW FG COKELAT BOX      200    GR     19.670
                                                  400    GR     20.670
                                                  800    GR     19.500
                       DANCOW FG F.CREAM BOX      400    GR     22.670
                                                  800    GR     22.830
                       DANCOW FG INST BOX         200    GR     20.170
                                                  800    GR     21.330
                       FF BABY TAHAP 1 BOX 400G   400    GR      9.670
                       FF BABY TAHAP 1 BOX 800G   800    GR     11.000
                       FF BABY TAHAP 2 BOX 400G   400    GR     10.000
                       FF BABY TAHAP 2 BOX 800G   800    GR     11.000
                       LACTOGROW 3 MADU BOX       180    GR     11.670
                                                  350    GR     14.670
                                                  750    GR     12.670
                       LACTOGROW 3 PLAIN BOX      350    GR     14.330
                                                  750    GR     11.940
                       LACTOGROW 3 VANILA BOX     750    GR     12.595
                       LACTOGROW 4 MADU BOX       750    GR     13.670
                       LACTOGROW 4 VANILA BOX     750    GR     13.670
                       SGM EKSPLOR 1+ MADU BOX    150    GR     12.500
                                                  400    GR     15.330
                                                  600    GR     17.000
                                                  900    GR     15.170
                       SGM EKSPLOR 1+ SOYA MD     400    GR     13.330
                       SGM EKSPLOR 1+ SOYA VNL    400    GR     13.330
                       SGM EKSPLOR 1+ VANILA BOX  150    GR     13.500
                                                  400    GR     15.670
                                                  600    GR     17.500
                                                  900    GR     15.670
                       SGM EKSPLOR 3+ COKELAT BOX 400    GR     17.000
                                                  900    GR     16.000
                       SGM EKSPLOR 3+ MADU BOX    150    GR     12.670
                                                  400    GR     16.330
                                                  600    GR     18.330
                                                  900    GR     16.000
                       SGM EKSPLOR 3+ VANILA BOX  400    GR     17.330
                                                  600    GR     19.000
                                                  900    GR     16.330
                       SGM EKSPLOR 5+ MADU BOX    400    GR     15.830
                                                  900    GR     16.000
                       SGM EKSPLOR SOYA MADU BOX  700    GR     14.000
                       SGM EKSPLOR SOYA VANILA    700    GR     14.000
Susu Cair & Es Krim    DANCOW UHT FG COKELAT TP   110    ML      6.170

In [31]:
train_descp_cond = train_descp[(train_descp['variance'] < 400) & (train_descp['mean_qty'] >= 5) & (train_descp['mean_qty'] <= 50)]
train_descp_cond.groupby(['MPA_DESC_SUBCAT','DESCP_TYPE','UKURAN','UOM']).agg({'mean_qty':'median'})

                                                              mean_qty
MPA_DESC_SUBCAT        DESCP_TYPE                 UKURAN UOM
Perawatan Gigi & Mulut PEPSODENT PG ECONOMY       75     GR     19.500
                       PEPSODENT PG ECONOMY JUMBO 190    GR     22.000
                                                  225    GR     16.330
Susu Bubuk             ANLENE ACTIFIT COKELAT BOX 250    GR     19.670
                       ANLENE GOLD COKELAT BOX    250    GR     23.165
                                                  650    GR     29.000
                       ANLENE GOLD ORI BOX        650    GR     26.670
                       ANLENE GOLD+ VANILA BOX    250    GR     22.670
                                                  650    GR     27.670
                       BEBELAC 3 MADU BOX         200    GR     12.330
                                                  400    GR     13.000
                                                  1000   G      15.000
                       BEBELAC 3 MADU CAN         800    GR     13.670
                       BEBELAC 3 VANILA BOX       400    GR     13.330
                                                  1000   G      14.500
                       BEBELAC 3 VANILA CAN       800    GR     13.170
                       BEBELAC 4 MADU BOX         400    GR     14.000
                                                  1000   G      16.330
                       BEBELAC 4 MADU CAN         800    GR     15.330
                       BEBELAC 4 VANILA BOX       400    GR     13.830
                       BEBELAC 4 VANILA CAN       800    GR     14.670
                       BEBELAC GOLD 3 VANILA BOX  700    GR     10.830
                       DANCOW 1+ MADU BOX         200    GR     12.330
                                                  400    GR     14.000
                                                  800    GR     12.670
                       DANCOW 1+ VANILA BOX       400    GR     13.000
                                                  800    GR     12.330
                       DANCOW 3+ COKELAT BOX      400    GR     15.670
                                                  800    GR     14.670
                       DANCOW 3+ MADU BOX         200    GR     13.170
                                                  400    GR     15.000
                                                  800    GR     14.000
                       DANCOW 3+ VANILA BOX       400    GR     15.000
                                                  800    GR     14.330
                       DANCOW 5+ COKELAT BOX      800    GR     16.330
                       DANCOW 5+ MADU BOX         400    GR     16.330
                                                  800    GR     15.830
                       DANCOW FG COKELAT BOX      200    GR     16.670
                                                  400    GR     17.670
                                                  800    GR     17.330
                       DANCOW FG F.CREAM BOX      400    GR     19.670
                                                  800    GR     21.000
                       DANCOW FG INST BOX         200    GR     17.330
                                                  800    GR     19.330
                       FF BABY TAHAP 1 BOX 400G   400    GR     10.670
                       FF BABY TAHAP 1 BOX 800G   800    GR     10.830
                       FF BABY TAHAP 2 BOX 400G   400    GR     10.750
                       FF BABY TAHAP 2 BOX 800G   800    GR     10.670
                       LACTOGROW 3 MADU BOX       180    GR     12.330
                                                  350    GR     13.330
                                                  750    GR     11.830
                       LACTOGROW 3 PLAIN BOX      350    GR     13.330
                                                  750    GR     11.330
                       LACTOGROW 3 VANILA BOX     750    GR     11.670
                       LACTOGROW 4 MADU BOX       750    GR     13.000
                       LACTOGROW 4 VANILA BOX     750    GR     12.875
                       SGM EKSPLOR 1+ MADU BOX    150    GR     12.670
                                                  400    GR     13.670
                                                  600    GR     14.670
                                                  900    GR     13.670
                       SGM EKSPLOR 1+ SOYA MD     400    GR     12.170
                       SGM EKSPLOR 1+ SOYA VNL    400    GR     12.375
                       SGM EKSPLOR 1+ VANILA BOX  150    GR     12.830
                                                  400    GR     13.670
                                                  600    GR     15.000
                                                  900    GR     13.970
                       SGM EKSPLOR 3+ COKELAT BOX 400    GR     15.330
                                                  900    GR     14.670
                       SGM EKSPLOR 3+ MADU BOX    150    GR     12.670
                                                  400    GR     14.670
                                                  600    GR     16.000
                                                  900    GR     14.670
                       SGM EKSPLOR 3+ VANILA BOX  400    GR     15.000
                                                  600    GR     15.670
                                                  900    GR     14.670
                       SGM EKSPLOR 5+ MADU BOX    400    GR     14.330
                                                  900    GR     15.330
                       SGM EKSPLOR SOYA MADU BOX  700    GR     12.670
                       SGM EKSPLOR SOYA VANILA    700    GR     13.000
Susu Cair & Es Krim    DANCOW UHT FG COKELAT TP   110    ML      9.000

In [32]:
from ipywidgets import interact, interact_manual
@interact_manual
def show_articles_more_than(nama = sorted(list(train_descp['DESCP_TYPE'].unique())), 
                            ukuran = sorted(list(train_descp['UKURAN'].unique())),
                            lower=(2, 60, 2),
                            upper=(2, 60, 2)):
    show_data = train_descp.loc[(train_descp['DESCP_TYPE'] == nama) & (train_descp['UKURAN'] == ukuran)\
                                & (train_descp['mean_qty'] >= lower) & (train_descp['mean_qty'] <= upper)]\
                .drop(['since','mean','TRF_DATE','MPA_PLU','MPA_DESC_SUBCAT','DESCP_TYPE'],1)
    print(show_data.shape)
    sample_n = 10
    if show_data.shape[0] < sample_n:
        sample_n = show_data.shape[0]
    return show_data.sample(sample_n)

interactive(children=(Dropdown(description='nama', options=('ANLENE ACTIFIT COKELAT BOX', 'ANLENE GOLD COKELAT

In [33]:
bins = [0, 7, 14, 21, 28, 35, 42]
labels = ['0-7','7-14','14-21','21-28','28-35','35-42']
train_descp['mean_qty_binned'] = pd.cut(train_descp['mean_qty'], bins=bins, labels=labels, include_lowest=True)

In [34]:
train_descp_select1 = train_descp[train_descp['DESCP'].str.startswith('SGM EKSPLOR 1+ VANILA')]
train_descp_select1.groupby(['MPA_DESC_SUBCAT','DESCP_TYPE','UKURAN','UOM','mean_qty_binned']).agg({'mean_qty_binned':'size'})

                                                                      mean_qty_binned
MPA_DESC_SUBCAT DESCP_TYPE                UKURAN UOM mean_qty_binned
Susu Bubuk      SGM EKSPLOR 1+ VANILA BOX 150    GR  0-7                         1668
                                                     7-14                        1666
                                                     14-21                       1120
                                                     21-28                        774
                                                     28-35                        525
                                                     35-42                        322
                                          400    GR  0-7                         1291
                                                     7-14                        2047
                                                     14-21                       1517
                                                     21-28                        916
                                                     28-35                        749
                                                     35-42                        455
                                          600    GR  0-7                          912
                                                     7-14                        1967
                                                     14-21                       1664
                                                     21-28                       1123
                                                     28-35                        776
                                                     35-42                        521
                                          900    GR  0-7                         2863
                                                     7-14                        6854
                                                     14-21                       4720
                                                     21-28                       3141
                                                     28-35                       1978
                                                     35-42                       1255

In [35]:
train_descp_select1 = train_descp[train_descp['DESCP'].str.startswith('SGM EKSPLOR 1+ MADU')]
train_descp_select1.groupby(['MPA_DESC_SUBCAT','DESCP_TYPE','UKURAN','UOM','mean_qty_binned']).agg({'mean_qty_binned':'size'})

                                                                    mean_qty_binned
MPA_DESC_SUBCAT DESCP_TYPE              UKURAN UOM mean_qty_binned
Susu Bubuk      SGM EKSPLOR 1+ MADU BOX 150    GR  0-7                         3318
                                                   7-14                        2964
                                                   14-21                       1960
                                                   21-28                       1319
                                                   28-35                        870
                                                   35-42                        505
                                        400    GR  0-7                         2611
                                                   7-14                        3514
                                                   14-21                       2506
                                                   21-28                       1731
                                                   28-35                       1223
                                                   35-42                        869
                                        600    GR  0-7                         2034
                                                   7-14                        4277
                                                   14-21                       3405
                                                   21-28                       2374
                                                   28-35                       1654
                                                   35-42                       1004
                                        900    GR  0-7                         5077
                                                   7-14                       10889
                                                   14-21                       7423
                                                   21-28                       4756
                                                   28-35                       3040
                                                   35-42                       1838

In [36]:
all_item = pd.merge(df_plu, df_nas, left_on='MPA_PLU', right_on='ITEM_N')[['MPA_PLU', 'MPA_DESC', 'UKURAN']]
all_item = all_item.sort_values('MPA_DESC')

data_filter = []
for idx, row in all_item.iterrows():
    
    show_data = train_descp.loc[(train_descp['TR_PLU_PCS'] == row['MPA_PLU']) & (train_descp['UKURAN'] == row['UKURAN'])]


    Q1 = round(show_data['mean_qty'].quantile(0.25),2)
    Q2 = round(show_data['mean_qty'].quantile(0.5),2)
    Q3 = round(show_data['mean_qty'].quantile(0.75),2)
    IQR= round(Q3 - Q1, 2)
    upper_out = Q3 + 1.5 * IQR
    lower_out = Q1 - 1.5 * IQR
    MAX = show_data['mean_qty'].max()
    MIN = show_data['mean_qty'].min()
    
    # calculate summary statistics
    data_mean, data_std = show_data['mean_qty'].mean(), show_data['mean_qty'].std()
    # identify outliers
    cut_off = data_std * 1
    lower, upper = data_mean - cut_off, data_mean + cut_off

#     # manually 
#     lower = 7
#     upper = 30



    show_data_ = show_data[(show_data['mean_qty'] > lower) & (show_data['mean_qty'] < upper)]
    data_filter.append(show_data_)
    median = round(show_data_['mean_qty'].median(),2)
    
#     print("Q1:{} Q2:{} median:{} Q3:{} IQR:{} MAX:{} MIN:{}".format(Q1,Q2,median,Q3,IQR,MAX,MIN))
#     print("lower {} upper{}".format(lower, upper))
#     print()
    
show_data_filter = pd.concat(data_filter)

In [37]:
show_data_filter.groupby(['MPA_DESC_SUBCAT','DESCP_TYPE','UKURAN','UOM']).agg({'mean_qty':'median'})

                                                              mean_qty
MPA_DESC_SUBCAT        DESCP_TYPE                 UKURAN UOM
Perawatan Gigi & Mulut PEPSODENT PG ECONOMY       75     GR     24.670
                       PEPSODENT PG ECONOMY JUMBO 190    GR     27.670
                                                  225    GR     20.170
Susu Bubuk             ANLENE ACTIFIT COKELAT BOX 250    GR     22.330
                       ANLENE GOLD COKELAT BOX    250    GR     26.000
                                                  650    GR     30.330
                       ANLENE GOLD ORI BOX        650    GR     29.000
                       ANLENE GOLD+ VANILA BOX    250    GR     25.000
                                                  650    GR     30.330
                       BEBELAC 3 MADU BOX         200    GR     11.670
                                                  400    GR     13.670
                                                  1000   G      17.330
                       BEBELAC 3 MADU CAN         800    GR     15.000
                       BEBELAC 3 VANILA BOX       400    GR     14.670
                                                  1000   G      16.670
                       BEBELAC 3 VANILA CAN       800    GR     14.530
                       BEBELAC 4 MADU BOX         400    GR     14.830
                                                  1000   G      19.330
                       BEBELAC 4 MADU CAN         800    GR     16.330
                       BEBELAC 4 VANILA BOX       400    GR     14.670
                       BEBELAC 4 VANILA CAN       800    GR     15.670
                       BEBELAC GOLD 3 VANILA BOX  700    GR     10.170
                       DANCOW 1+ MADU BOX         200    GR     10.790
                                                  400    GR     15.330
                                                  800    GR     12.830
                       DANCOW 1+ VANILA BOX       400    GR     14.000
                                                  800    GR     12.670
                       DANCOW 3+ COKELAT BOX      400    GR     17.670
                                                  800    GR     15.330
                       DANCOW 3+ MADU BOX         200    GR     13.330
                                                  400    GR     17.000
                                                  800    GR     14.670
                       DANCOW 3+ VANILA BOX       400    GR     16.670
                                                  800    GR     15.170
                       DANCOW 5+ COKELAT BOX      800    GR     17.915
                       DANCOW 5+ MADU BOX         400    GR     18.670
                                                  800    GR     17.000
                       DANCOW FG COKELAT BOX      200    GR     19.330
                                                  400    GR     20.670
                                                  800    GR     19.330
                       DANCOW FG F.CREAM BOX      400    GR     22.670
                                                  800    GR     22.670
                       DANCOW FG INST BOX         200    GR     20.000
                                                  800    GR     21.000
                       FF BABY TAHAP 1 BOX 400G   400    GR      9.000
                       FF BABY TAHAP 1 BOX 800G   800    GR     10.330
                       FF BABY TAHAP 2 BOX 400G   400    GR      9.000
                       FF BABY TAHAP 2 BOX 800G   800    GR     10.330
                       LACTOGROW 3 MADU BOX       180    GR     10.670
                                                  350    GR     14.000
                                                  750    GR     11.830
                       LACTOGROW 3 PLAIN BOX      350    GR     13.670
                                                  750    GR     11.000
                       LACTOGROW 3 VANILA BOX     750    GR     11.670
                       LACTOGROW 4 MADU BOX       750    GR     13.000
                       LACTOGROW 4 VANILA BOX     750    GR     13.000
                       SGM EKSPLOR 1+ MADU BOX    150    GR     11.830
                                                  400    GR     14.670
                                                  600    GR     16.670
                                                  900    GR     14.670
                       SGM EKSPLOR 1+ SOYA MD     400    GR     12.170
                       SGM EKSPLOR 1+ SOYA VNL    400    GR     12.670
                       SGM EKSPLOR 1+ VANILA BOX  150    GR     13.000
                                                  400    GR     15.330
                                                  600    GR     17.265
                                                  900    GR     15.170
                       SGM EKSPLOR 3+ COKELAT BOX 400    GR     16.670
                                                  900    GR     15.670
                       SGM EKSPLOR 3+ MADU BOX    150    GR     11.945
                                                  400    GR     16.000
                                                  600    GR     18.330
                                                  900    GR     15.500
                       SGM EKSPLOR 3+ VANILA BOX  400    GR     16.670
                                                  600    GR     18.670
                                                  900    GR     15.830
                       SGM EKSPLOR 5+ MADU BOX    400    GR     15.330
                                                  900    GR     15.500
                       SGM EKSPLOR SOYA MADU BOX  700    GR     13.330
                       SGM EKSPLOR SOYA VANILA    700    GR     13.330
Susu Cair & Es Krim    DANCOW UHT FG COKELAT TP   110    ML      5.080