In [1]:
import psycopg2
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)

try:
    connection = psycopg2.connect(
        host="35.187.250.81",
        database="prd_order",
        user="akhiyar_waladi",
        password="nd4n6fk9")

    cursor = connection.cursor()

    # Print PostgreSQL version
    cursor.execute("SELECT version();")
    record = cursor.fetchone()
    
    print("You are connected to -- \n{}".format(record))

except (Exception, psycopg2.Error) as error :
    print("Error while connecting to PostgreSQL", error)

You are connected to --
('PostgreSQL 9.6.19 on x86_64-pc-linux-gnu, compiled by Debian clang version 10.0.1 , 64-bit',)

In [2]:
query = '''
select * from tb_transaction_order tto 
where tto.tbto_create_date > '2020-09-01' 
and tto.tbto_create_date  < '2021-01-15'
and tto.tbto_status = 15
'''
results = pd.read_sql_query(query, connection)

In [13]:
results['tbto_create'] = results.tbto_create_date.dt.date

In [14]:
rg = results.groupby([pd.Grouper(key='tbto_create_date',freq='D'),'tbto_ponta_id'])\
                                .agg({'tbto_no':'size'})

In [25]:
rg_2 = results.groupby(['tbto_ponta_id'])\
                                .agg({'tbto_create':'nunique'})

In [26]:
rg_2.sort_values(by='tbto_create', ascending=False).head()

                  tbto_create
tbto_ponta_id
9990013080299926          136
9990013082141387          136
9990013082143313          135
9990013078423500          135
9990013079648636          135

In [4]:
rg_daily = rg / len(rg.groupby(level=0))

In [5]:
rg_daily.head()

                                    tbto_no
tbto_create_date tbto_ponta_id
2020-09-01       9990010000681149  0.014706
                 9990010002236600  0.007353
                 9990010002300241  0.007353
                 9990010002934879  0.007353
                 9990010002940839  0.007353

In [6]:
rg_level = rg_daily.groupby(level=1).mean().sort_values(by='tbto_no', ascending=False)

In [7]:
rg_level.head(20)

                   tbto_no
tbto_ponta_id
9990013145655650  1.566176
9990010827133924  0.963235
9990013087654457  0.963235
9990012877573747  0.911765
9990013206324300  0.832721
9990013145749359  0.794118
9990012171135879  0.779412
9990013093931738  0.772059
9990011805582528  0.768382
9990013213146543  0.742647
9990013145752622  0.720588
9999990014010520  0.720588
9990012335017662  0.705882
9990013056135098  0.683824
9990012103459845  0.665441
9990011522553099  0.647059
9990012789185648  0.632353
9990010861694128  0.627451
9990013145695014  0.625000
9990010347002130  0.625000

In [30]:
results[results['tbto_ponta_id'] == '9990013080299926'].tbto_create_date.dt.date.value_counts().sort_index()

2020-09-01     1
2020-09-02     2
2020-09-03     1
2020-09-04     2
2020-09-05     1
2020-09-06     1
2020-09-07     1
2020-09-08     2
2020-09-09     1
2020-09-10     1
2020-09-11     1
2020-09-12     2
2020-09-13     1
2020-09-14     6
2020-09-15     3
2020-09-16     3
2020-09-17     1
2020-09-18     2
2020-09-19     2
2020-09-20     3
2020-09-21     3
2020-09-22     1
2020-09-23     3
2020-09-24     2
2020-09-25     3
2020-09-26     2
2020-09-27     3
2020-09-28     2
2020-09-29     1
2020-09-30     2
2020-10-01     2
2020-10-02     2
2020-10-03     2
2020-10-04     2
2020-10-05     2
2020-10-06     1
2020-10-07     2
2020-10-08     2
2020-10-09     2
2020-10-10     3
2020-10-11     2
2020-10-12     2
2020-10-13     2
2020-10-14     4
2020-10-15     1
2020-10-16     3
2020-10-17     2
2020-10-18     4
2020-10-19     2
2020-10-20     1
2020-10-21     1
2020-10-22     1
2020-10-23     1
2020-10-24     2
2020-10-25     2
2020-10-26     1
2020-10-27     2
2020-10-28     4
2020-10-29     1
2020-10-30     1
2020-10-31     3
2020-11-01     2
2020-11-02     2
2020-11-03     2
2020-11-04     2
2020-11-05     1
2020-11-06     2
2020-11-07     1
2020-11-08     3
2020-11-09     2
2020-11-10     2
2020-11-11     1
2020-11-12     1
2020-11-13     2
2020-11-14     1
2020-11-15     2
2020-11-16     2
2020-11-17     2
2020-11-18     1
2020-11-19     2
2020-11-20     2
2020-11-21     1
2020-11-22     7
2020-11-23     7
2020-11-24     5
2020-11-25     3
2020-11-26     3
2020-11-27     3
2020-11-28     3
2020-11-29     3
2020-11-30     6
2020-12-01     3
2020-12-02     5
2020-12-03     2
2020-12-04     3
2020-12-05     4
2020-12-06     3
2020-12-07     3
2020-12-08     2
2020-12-09     3
2020-12-10     3
2020-12-11     3
2020-12-12     3
2020-12-13     3
2020-12-14     3
2020-12-15     3
2020-12-16     4
2020-12-17     3
2020-12-18     3
2020-12-19     3
2020-12-20     7
2020-12-21     3
2020-12-22     3
2020-12-23     3
2020-12-24     3
2020-12-25     2
2020-12-26     3
2020-12-27     4
2020-12-28     5
2020-12-29     2
2020-12-30     3
2020-12-31     3
2021-01-01     3
2021-01-02     4
2021-01-03     3
2021-01-04     3
2021-01-05    18
2021-01-06     8
2021-01-07     4
2021-01-08     3
2021-01-09     3
2021-01-10     6
2021-01-11     3
2021-01-12     3
2021-01-13     1
2021-01-14     3
Name: tbto_create_date, dtype: int64